:root {
    --blue-color: #072C50;
    --white-color: #ffffff;
    --black-color: #000000;
    --red-color: #FF0000;
    --green-color: #64ca15;
    --gold-color: #ffd700;
    --orange-color: #FF804C;
    --facebook-color: #4267b2;
    --google-color: #4285f4;
    --insta-color: #E1306C;
    --primary-color: #072C50;
    --secondary-color: #9b9b9b;
    --secondary-highlight-color: #FF717F;
    --invert-text: #e4e6eb;
    --quick-transition: all ease 0.5s;
    --smooth-transition: all ease 1s;
    --heading-color: #65676b;
    --bg-color: #f9f9f9;
    --svg-icon-color: #6c757d;
    --svg-icon-color-hover: #5a6268;
    --search-input-color: #f0f2f5;
    --highlight-bg-color: rgb(228, 230, 235);
    --highlight-play-btn-color: 228, 230, 235;
    --border-color: #ededed;
    --surface-bg-color: #ffffff;
    --dark-toggle-color: #242526;
    --btn-bg-color: transparent;
    --blue-hover-color: rgba(45, 136, 255, 0.1);
    --grayscale-full: grayscale(100%);
    --grayscale-zero: grayscale(0%);
    --card-shadow: rgba(218, 218, 218, 1);
}
/*body.dark-theme {*/
/*    --blue-color: #1a8ed3;*/
/*    --white-color: #ffffff;*/
/*    --black-color: #000000;*/
/*    --red-color: #f21877;*/
/*    --green-color: #77f218;*/
/*    --gold-color: #ffd700;*/
/*    --orange-color: #f8931d;*/
/*    --facebook-color: #4267b2;*/
/*    --google-color: #4285f4;*/
/*    --primary-color: #e4e6eb;*/
/*    --secondary-color: #818cab;*/
/*    --invert-text: #050505;*/
/*    --quick-transition: all ease 0.5s;*/
/*    --smooth-transition: all ease 1s;*/
/*    --heading-color: #e4e6eb;*/
/*    --bg-color: #18191a;*/
/*    --svg-icon-color: #a8abaf;*/
/*    --search-input-color: #3a3b3c;*/
/*    --highlight-bg-color: #3a3b3c;*/
/*    --highlight-play-btn-color: 58, 59, 60;*/
/*    --border-color: #3e4042;*/
/*    --surface-bg-color: #242526;*/
/*    --dark-toggle-color: #ffffff;*/
/*    --btn-bg-color: transparent;*/
/*    --blue-hover-color: rgba(45, 136, 255, 0.1);*/
/*    --grayscale-full: grayscale(100%);*/
/*    --grayscale-zero: grayscale(0%);*/
/*    --card-shadow: rgba(0, 0, 0, 0.2);*/
/*}*/
/*body.light-theme {*/
/*    --blue-color: #1a8ed3;*/
/*    --white-color: #ffffff;*/
/*    --black-color: #000000;*/
/*    --red-color: #f21877;*/
/*    --green-color: #77f218;*/
/*    --gold-color: #ffd700;*/
/*    --orange-color: #f8931d;*/
/*    --facebook-color: #4267b2;*/
/*    --google-color: #4285f4;*/
/*    --primary-color: #e4e6eb;*/
/*    --secondary-color: #818cab;*/
/*    --invert-text: #e4e6eb;*/
/*    --quick-transition: all ease 0.5s;*/
/*    --smooth-transition: all ease 1s;*/
/*    --heading-color: #e4e6eb;*/
/*    --bg-color: #18191a;*/
/*    --svg-icon-color: #a8abaf;*/
/*    --search-input-color: #3a3b3c;*/
/*    --highlight-bg-color: #3a3b3c;*/
/*    --border-color: #3e4042;*/
/*    --surface-bg-color: #242526;*/
/*    --dark-toggle-color: #ffffff;*/
/*    --btn-bg-color: transparent;*/
/*    --blue-hover-color: rgba(45, 136, 255, 0.1);*/
/*    --grayscale-full: grayscale(100%);*/
/*    --grayscale-zero: grayscale(0%);*/
/*    --card-shadow: rgba(0, 0, 0, 0.2);*/
/*}*/

/*html {*/
/*    height: 100%;*/
/*    !*-webkit-user-select: none;*!*/
/*    !*-moz-user-select: -moz-none;*!*/
/*    !*-ms-user-select: none;*!*/
/*    !*user-select: none;*!*/
/*    !*overscroll-behavior: contain !important;*!*/
/*}*/
/*body {*/
/*    height: 100%;*/
/*    !*overscroll-behavior: contain !important;*!*/
/*}*/

.d-grid {
    display: grid;
}
.cursor-pointer {
    cursor: pointer;
}

.break-all {
    word-break: break-all;
}
.break-word {
    word-break: break-word;
}
.invalid-feedback strong {
    color: inherit !important;
}

.display-none {
    display: none;
}

.min-w-80 {
    min-width: 80px;
}
.min-w-100 {
    min-width: 100px;
}
.object-fit-cover {
    object-fit: cover !important;
}
.object-fit-fill {
    object-fit: fill !important;
}
.object-fit-contain {
    object-fit: contain !important;
}
.f-8 {
    font-size: 8px;
}
.f-10 {
    font-size: 10px;
}
.f-12 {
    font-size: 12px;
}
.f-14 {
    font-size: 14px;
}
.f-16 {
    font-size: 16px;
}
.f-18 {
    font-size: 18px;
}
.f-20 {
    font-size: 20px;
}
.f-22 {
    font-size: 22px;
}
.f-24 {
    font-size: 24px;
}
.f-26 {
    font-size: 26px;
}
.f-28 {
    font-size: 28px;
}
.f-30 {
    font-size: 30px;
}
.f-32 {
    font-size: 32px;
}
.f-34 {
    font-size: 34px;
}
.f-36 {
    font-size: 36px;
}

.fw-100 {font-weight: 100;}
.fw-200 {font-weight: 200;}
.fw-400 {font-weight: 400;}
.fw-500 {font-weight: 500;}
.fw-600 {font-weight: 600;}
.fw-700 {font-weight: 700;}
.fw-800 {font-weight: 800;}

.txt-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.txt-overflow-1 {
    -webkit-line-clamp: 1;
}
.txt-overflow-2 {
    -webkit-line-clamp: 2;
}
.txt-overflow-3 {
    -webkit-line-clamp: 3;
}
.txt-overflow-4 {
    -webkit-line-clamp: 4;
}
.txt-overflow-5 {
    -webkit-line-clamp: 5;
}
.txt-overflow-6 {
    -webkit-line-clamp: 6;
}
.txt-overflow-7 {
    -webkit-line-clamp: 7;
}
.txt-overflow-8 {
    -webkit-line-clamp: 8;
}
.txt-overflow-9 {
    -webkit-line-clamp: 9;
}
.txt-overflow-10 {
    -webkit-line-clamp: 10;
}
.m-1rem {
    margin: 1rem;
}
.mt-1rem {
    margin-top: 1rem;
}
.mb-1rem {
    margin-bottom: 1rem;
}
.ml-1rem {
    margin-left: 1rem;
}
.mr-1rem {
    margin-right: 1rem;
}
.m-2rem {
    margin: 2rem;
}
.mt-2rem {
    margin-top: 2rem;
}
.mb-2rem {
    margin-bottom: 2rem;
}
.ml-2rem {
    margin-left: 2rem;
}
.mr-2rem {
    margin-right: 2rem;
}
.m-3rem {
    margin: 3rem;
}
.mt-3rem {
    margin-top: 3rem;
}
.mb-3rem {
    margin-bottom: 3rem;
}
.ml-3rem {
    margin-left: 3rem;
}
.mr-3rem {
    margin-right: 3rem;
}
.m-4rem {
    margin: 4rem;
}
.mt-4rem {
    margin-top: 4rem;
}
.mb-4rem {
    margin-bottom: 4rem;
}
.ml-4rem {
    margin-left: 4rem;
}
.mr-4rem {
    margin-right: 4rem;
}

.py-2rem-4rem { padding: 2rem 0 4rem 0;}

.py-2rem { padding: 2rem 0;}
.py-4rem { padding: 4rem 0;}
.py-6rem { padding: 6rem 0;}
.py-8rem { padding: 8rem 0;}
.py-10rem { padding: 10rem 0;}

.px-2rem { padding: 0 2rem;}
.px-4rem { padding: 0 4rem;}
.px-6rem { padding: 0 6rem;}
.px-8rem { padding: 0 8rem;}
.px-10rem { padding: 0 10rem;}

.w-50-pre {width: 50%;}
.w-60-pre {width: 60%;}
.w-75-pre {width: 75%;}

.w-10-px { width: 10px;}
.w-20-px { width: 20px;}
.w-25-px { width: 25px;}
.w-32-px { width: 32px;}
.w-36-px { width: 36px;}
.w-40-px { width: 40px;}
.w-50-px { width: 50px;}
.w-60-px { width: 60px;}
.w-70-px { width: 70px;}
.w-80-px { width: 80px;}
.w-100-px { width: 100px;}
.w-120-px { width: 120px;}
.w-150-px { width: 150px;}
.w-160-px { width: 160px;}
.w-170-px { width: 170px;}
.w-200-px { width: 200px;}
.w-250-px { width: 250px;}
.w-270-px { width: 270px;}

.min-w-10-px { min-width: 10px;}
.min-w-20-px { min-width: 20px;}
.min-w-25-px { min-width: 25px;}
.min-w-32-px { min-width: 32px;}
.min-w-36-px { min-width: 36px;}
.min-w-40-px { min-width: 40px;}
.min-w-50-px { min-width: 50px;}
.min-w-60-px { min-width: 60px;}
.min-w-70-px { min-width: 70px;}
.min-w-80-px { min-width: 80px;}
.min-w-100-px { min-width: 100px;}
.min-w-120-px { min-width: 120px;}
.min-w-150-px { min-width: 150px;}
.min-w-160-px { min-width: 160px !important;}
.min-w-170-px { min-width: 170px;}
.min-w-200-px { min-width: 200px;}
.min-w-250-px { min-width: 250px;}
.min-w-270-px { min-width: 270px;}

.w-100-calc-20 {
    width: calc(100% - 20px);
}

.w-100 {
    width: 100% !important;
}

.min-w-100 {
    min-width: 100px;
}

.min-w-100-pr {
    min-width: 100%;
}

.m-w-unset {
    min-width: unset !important;
}

.min-w-fit-content {
    min-width: fit-content;
}

.h-100 {
    height: 100% !important;
}

.h-fit {height: fit-content !important;}

.h-400-overflow {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* width */
.h-400-overflow::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.h-400-overflow::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
}

/* Handle */
.h-400-overflow::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 8px;
}

/* Handle on hover */
.h-400-overflow::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

.h-10 { height: 10px;}
.h-20 { height: 20px;}
.h-28 { height: 28px;}
.h-30 { height: 30px;}
.h-32 { height: 32px;}
.h-34 { height: 34px;}
.h-36 { height: 36px;}
.h-38 { height: 38px;}
.h-40 { height: 40px;}
.h-56 { height: 56px;}
.h-64 { height: 64px;}
.h-70 { height: 70px;}
.h-80 { height: 80px;}
.h-100px { height: 100px;}
.h-120 { height: 120px;}
.h-150 { height: 150px;}
.h-160 { height: 160px;}
.h-170 { height: 170px;}
.h-180 { height: 180px;}
.h-200 { height: 200px;}
.h-250 { height: 250px;}
.h-270 { height: 270px;}
.h-300 { height: 300px;}
.h-400 { height: 400px;}
.h-500 { height: 500px;}
.h-600 { height: 600px;}

.m-h-28 { max-height: 28px;}
.m-h-30 { max-height: 30px;}
.m-h-32 { max-height: 32px;}
.m-h-34 { max-height: 34px;}
.m-h-36 { max-height: 36px;}
.m-h-38 { max-height: 38px;}
.m-h-56 { max-height: 56px;}
.m-h-64 { max-height: 64px;}
.m-h-70 { max-height: 70px;}
.m-h-80 { max-height: 80px;}
.m-h-100 { max-height: 100px;}
.m-h-120 { max-height: 120px;}
.m-h-125 { max-height: 125px;}
.m-h-150 { max-height: 150px;}
.m-h-160 { max-height: 160px;}
.m-h-170 { max-height: 170px;}
.m-h-180 { max-height: 180px;}
.m-h-200 { max-height: 200px;}
.m-h-250 { max-height: 250px;}
.m-h-270 { max-height: 270px;}

.min-h-28 { min-height: 28px;}
.min-h-30 { min-height: 30px;}
.min-h-32 { min-height: 32px;}
.min-h-34 { min-height: 34px;}
.min-h-36 { min-height: 36px;}
.min-h-38 { min-height: 38px;}
.min-h-56 { min-height: 56px;}
.min-h-64 { min-height: 64px;}
.min-h-70 { min-height: 70px;}
.min-h-80 { min-height: 80px;}
.min-h-100 { min-height: 100px;}
.min-h-120 { min-height: 120px;}
.min-h-150 { min-height: 150px;}
.min-h-160 { min-height: 160px;}
.min-h-170 { min-height: 170px;}
.min-h-180 { min-height: 180px;}
.min-h-200 { min-height: 200px;}
.min-h-250 { min-height: 250px;}
.min-h-270 { min-height: 270px;}

.line-height-1 { line-height: 1;}
.line-height-1-1 { line-height: 1.1;}
.line-height-1-2 { line-height: 1.2;}
.line-height-1-3 { line-height: 1.3;}
.line-height-1-4 { line-height: 1.4;}
.line-height-1-5 { line-height: 1.5;}
.line-height-1-6 { line-height: 1.6;}
.line-height-1-7 { line-height: 1.7;}
.line-height-1-8 { line-height: 1.8;}
.line-height-1-9 { line-height: 1.9;}
.line-height-2 { line-height: 2;}

.fade-in {
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-out {
    animation: fadeout 1s;
    -moz-animation: fadeout 1s;
    -webkit-animation: fadeout 1s;
    -o-animation: fadeout 1s;
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-o-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.bg-color {
    background-color: var(--bg-color);
}
.surface-bg-color {
    background-color: var(--surface-bg-color);
}
.highlight-bg-color {
    background-color: var(--highlight-bg-color);
}
.bg-white {
    background-color: var(--white-color);
}
.bg-orange {
    background-color: var(--black-color);
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-red {
    background-color: var(--red-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-gold {
    background-color: var(--gold-color);
}

.bg-google {
    background-color: var(--google-color);
}

.bg-facebook {
    background-color: var(--facebook-color);
}

.bg-insta {
    background-color: var(--insta-color);
}
.header-text {
    color: var(--heading-color);
}
.primary-text {
    color: var(--primary-color);
}
.secondary-text {
    color: var(--secondary-color);
}
.blue-text {
    color: var(--blue-color);
}
.red-text {
    color: var(--red-color);
}
.green-text {
    color: var(--green-color);
}
.gold-text {
    color: var(--gold-color);
}
.orange-text {
    color: var(--orange-color);
}
.surface-bg-text {
    color: var(--surface-bg-color) !important;
}
.white-text {
    color: #e4e6eb;
}
.black-text {
    color: #000;
}

.gray-text {
    color: var(--heading-color);
}
a,
a:active,
a:focus,
a:hover {
    text-decoration: none;
    color: inherit;
}
.grayscale-full {
    filter: var(--grayscale-full);
}
.grayscale-zero {
    filter: var(--grayscale-zero);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 100px;
    /*height: fit-content !important;*/
    padding: 12px;
    line-height: 1 !important;
}

.btn-primary {
    color: var(--white-color);
    background-color: var(--orange-color);
    border-color: var(--orange-color);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    color: var(--white-color);
    background-color: var(--secondary-highlight-color);
    border-color: var(--secondary-highlight-color);
}

.primary-circle-btn {
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    line-height: 1;
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--orange-color);
}

.primary-circle-btn:hover,
.primary-circle-btn:active,
.primary-circle-btn:focus {
    color: var(--white-color);
    background-color: var(--secondary-highlight-color);
}

.secondary-btn {
    color: var(--white-color);
    border: 2px solid var(--blue-color);
    background-color: var(--blue-color);
}

.secondary-btn:hover,
.secondary-btn:active,
.secondary-btn:focus {
    color: var(--white-color);
    background-color: var(--blue-color);
}

.secondary-circle-btn {
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    line-height: 1;
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--blue-color);
}

.secondary-circle-btn:hover,
.secondary-circle-btn:active,
.secondary-circle-btn:focus {
    color: var(--white-color);
    background-color: var(--blue-color);
}

.danger-circle-btn {
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    line-height: 1;
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--red-color);
}

.danger-circle-btn:hover,
.danger-circle-btn:active,
.danger-circle-btn:focus {
    color: var(--white-color);
    background-color: var(--red-color);
}

.red-btn {
    color: var(--red-color);
    fill: var(--red-color);
    font-weight: 600;
    padding: 2px 15px;
    border-radius: 4px;
    border: 1px solid var(--red-color);
    background-color: var(--btn-bg-color);
    transition: var(--quick-transition);
}
.red-btn:active,
.red-btn:focus,
.red-btn:hover {
    color: var(--white-color);
    fill: var(--white-color);
    outline: 0;
    border: 1px solid var(--red-color);
    background-color: var(--red-color);
}
.red-btn svg {
    fill: var(--red-color);
    font-weight: 600;
}
.red-btn:active svg,
.red-btn:focus svg,
.red-btn:hover svg {
    fill: var(--white-color);
}
.red-lbl {
    color: var(--white-color);
    fill: var(--white-color);
    font-weight: 600;
    padding: 2px 15px;
    border-radius: 4px;
    border: 1px solid var(--red-color);
    background-color: var(--red-color);
    transition: var(--quick-transition);
}
.red-lbl:active,
.red-lbl:focus,
.red-lbl:hover {
    color: var(--white-color);
    fill: var(--white-color);
    outline: 0;
}
.red-lbl svg {
    fill: var(--white-color);
    font-weight: 600;
}
.red-lbl:active svg,
.red-lbl:focus svg,
.red-lbl:hover svg {
    fill: var(--white-color);
}
.blue-btn {
    color: var(--blue-color);
    fill: var(--blue-color);
    font-weight: 600;
    padding: 2px 15px;
    border-radius: 4px;
    border: 1px solid var(--blue-color);
    background-color: var(--btn-bg-color);
    transition: var(--quick-transition);
}
.blue-btn:active,
.blue-btn:focus,
.blue-btn:hover {
    color: var(--white-color);
    fill: var(--white-color);
    outline: 0;
    border: 1px solid var(--blue-color);
    background-color: var(--blue-color);
}
.blue-btn svg {
    fill: var(--blue-color);
    font-weight: 600;
}
.blue-btn:active svg,
.blue-btn:focus svg,
.blue-btn:hover svg {
    fill: var(--white-color);
}
.blue-fill-btn {
    color: var(--white-color) !important;
    fill: var(--white-color) !important;
    font-weight: 600;
    padding: 2px 15px;
    border-radius: 4px;
    border: 1px solid var(--blue-color);
    background-color: var(--blue-color);
    transition: var(--quick-transition);
}
.blue-fill-btn:active,
.blue-fill-btn:focus,
.blue-fill-btn:hover {
    color: var(--white-color);
    fill: var(--white-color);
    outline: 0;
    border: 1px solid var(--blue-color);
    background-color: var(--blue-color);
}
.blue-lbl {
    color: var(--white-color);
    fill: var(--white-color);
    font-weight: 600;
    padding: 2px 15px;
    border-radius: 4px;
    border: 1px solid var(--blue-color);
    background-color: var(--blue-color);
    transition: var(--quick-transition);
}
.blue-lbl:active,
.blue-lbl:focus,
.blue-lbl:hover {
    color: var(--white-color);
    fill: var(--white-color);
    outline: 0;
}
.blue-lbl svg {
    fill: var(--white-color);
    font-weight: 600;
}
.blue-lbl:active svg,
.blue-lbl:focus svg,
.blue-lbl:hover svg {
    fill: var(--white-color);
}
.green-btn {
    color: var(--green-color);
    fill: var(--green-color);
    font-weight: 600;
    padding: 2px 15px;
    border-radius: 4px;
    border: 1px solid var(--green-color);
    background-color: var(--btn-bg-color);
    transition: var(--quick-transition);
}
.green-btn:active,
.green-btn:focus,
.green-btn:hover {
    color: var(--bg-color);
    fill: var(--bg-color);
    outline: 0;
    border: 1px solid var(--green-color);
    background-color: var(--green-color);
}
.green-btn svg {
    fill: var(--green-color);
    font-weight: 600;
}
.green-btn:active svg,
.green-btn:focus svg,
.green-btn:hover svg {
    fill: var(--bg-color);
}
.green-lbl {
    color: var(--bg-color);
    fill: var(--bg-color);
    font-weight: 600;
    padding: 2px 15px;
    border-radius: 4px;
    border: 1px solid var(--green-color);
    background-color: var(--green-color);
    transition: var(--quick-transition);
}
.green-lbl:active,
.green-lbl:focus,
.green-lbl:hover {
    color: var(--bg-color);
    fill: var(--bg-color);
    outline: 0;
}
.green-btn svg {
    fill: var(--white-color);
    font-weight: 600;
}
.green-lbl:active svg,
.green-lbl:focus svg,
.green-lbl:hover svg {
    fill: var(--white-color);
}
.orange-btn {
    color: var(--orange-color);
    fill: var(--orange-color);
    font-weight: 600;
    padding: 2px 15px;
    border-radius: 4px;
    border: 1px solid var(--orange-color);
    background-color: var(--btn-bg-color);
    transition: var(--quick-transition);
}
.orange-btn:active,
.orange-btn:focus,
.orange-btn:hover {
    color: var(--white-color);
    fill: var(--white-color);
    outline: 0;
    border: 1px solid var(--orange-color);
    background-color: var(--orange-color);
}
.orange-btn svg {
    fill: var(--orange-color);
    font-weight: 600;
}
.orange-btn:active svg,
.orange-btn:focus svg,
.orange-btn:hover svg {
    fill: var(--white-color);
}
.orange-lbl {
    color: var(--white-color);
    fill: var(--white-color);
    font-weight: 600;
    padding: 2px 15px;
    border-radius: 4px;
    border: 1px solid var(--orange-color);
    background-color: var(--orange-color);
    transition: var(--quick-transition);
}
.orange-lbl:active,
.orange-lbl:focus,
.orange-lbl:hover {
    color: var(--white-color);
    fill: var(--white-color);
    outline: 0;
}
.orange-btn svg {
    fill: var(--white-color);
    font-weight: 600;
}
.orange-lbl:active svg,
.orange-lbl:focus svg,
.orange-lbl:hover svg {
    fill: var(--white-color);
}
.orange-fill-btn {
    color: var(--white-color) !important;
    fill: var(--white-color) !important;
    font-weight: 600;
    padding: 2px 15px;
    border-radius: 4px;
    border: 1px solid var(--orange-color);
    background-color: var(--orange-color);
    transition: var(--quick-transition);
}
.orange-fill-btn:active,
.orange-fill-btn:focus,
.orange-fill-btn:hover {
    color: var(--white-color);
    fill: var(--white-color);
    outline: 0;
    border: 1px solid var(--secondary-highlight-color);
    background-color: var(--secondary-highlight-color);
}
.btn-gray {
    color: var(--heading-color);
    fill: var(--heading-color);
    font-weight: 600;
    padding: 2px 15px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: var(--highlight-bg-color);
    transition: var(--quick-transition);
}
.btn-gray:active,
.btn-gray:focus,
.btn-gray:hover {
    color: var(--surface-bg-color);
    fill: var(--surface-bg-color);
    outline: 0;
    border: 1px solid transparent;
    background-color: var(--svg-icon-color);
}
.btn-gray svg {
    fill: var(--heading-color);
    font-weight: 600;
}
.btn-gray:active svg,
.btn-gray:focus svg,
.btn-gray:hover svg {
    fill: var(--white-color);
}
.outline-border-0 {
    border: unset;
    outline: unset;
}
.outline-border-0:active,
.outline-border-0:focus,
.outline-border-0:hover {
    outline: unset;
    border: unset;
    box-shadow: unset;
}

.border-2 {
    border-radius: 2px;
}

.border-3 {
    border-radius: 3px;
}

.border-4 {
    border-radius: 4px;
}
.border-top-left-4 {
    border-radius: 4px 0 0 0;
}
.border-top-right-4 {
    border-radius: 0 4px 0 0;
}
.border-bottom-left-4 {
    border-radius: 0 0 0 4px;
}
.border-bottom-right-4 {
    border-radius: 0 0 4px 0;
}
.border-8 {
    border-radius: 8px;
}
.border-top-left-8 {
    border-radius: 8px 0 0 0;
}
.border-top-right-8 {
    border-radius: 0 8px 0 0;
}
.border-bottom-left-8 {
    border-radius: 0 0 0 8px;
}
.border-bottom-right-8 {
    border-radius: 0 0 8px 0;
}
.border-12 {
    border-radius: 12px;
}
.border-top-left-12 {
    border-radius: 12px 0 0 0;
}
.border-top-right-12 {
    border-radius: 0 12px 0 0;
}
.border-bottom-left-12 {
    border-radius: 0 0 0 12px;
}
.border-bottom-right-12 {
    border-radius: 0 0 12px 0;
}
.border-circle {
    border-radius: 50%;
}
.border-1-solid {
    border: 1px solid var(--border-color);
}
.border-top-1-solid {
    border-top: 1px solid var(--border-color);
}
.border-bottom-1-solid {
    border-bottom: 1px solid var(--border-color);
}
.border-left-1-solid {
    border-left: 1px solid var(--border-color);
}
.border-right-1-solid {
    border-right: 1px solid var(--border-color);
}
.border-2-solid {
    border: 2px solid var(--border-color);
}
.border-top-2-solid {
    border-top: 2px solid var(--border-color);
}
.border-bottom-2-solid {
    border-bottom: 2px solid var(--border-color);
}
.border-left-2-solid {
    border-left: 2px solid var(--border-color);
}
.border-right-2-solid {
    border-right: 2px solid var(--border-color);
}
.border-4-solid {
    border: 4px solid var(--border-color);
}
.border-top-4-solid {
    border-top: 4px solid var(--border-color);
}
.border-bottom-4-solid {
    border-bottom: 4px solid var(--border-color);
}
.border-left-4-solid {
    border-left: 4px solid var(--border-color);
}
.border-right-4-solid {
    border-right: 4px solid var(--border-color);
}

.border-transparent-1-solid {
    border: 1px solid transparent;
}

.border-blue-1-solid {
    border: 1px solid var(--blue-color);
}
.border-blue-top-1-solid {
    border-top: 1px solid var(--blue-color);
}
.border-blue-bottom-1-solid {
    border-bottom: 1px solid var(--blue-color);
}
.border-blue-left-1-solid {
    border-left: 1px solid var(--blue-color);
}
.border-blue-right-1-solid {
    border-right: 1px solid var(--blue-color);
}
.border-red-1-solid {
    border: 1px solid var(--red-color);
}
.border-red-top-1-solid {
    border-top: 1px solid var(--red-color);
}
.border-red-bottom-1-solid {
    border-bottom: 1px solid var(--red-color);
}
.border-red-left-1-solid {
    border-left: 1px solid var(--red-color);
}
.border-red-right-1-solid {
    border-right: 1px solid var(--red-color);
}
.border-green-1-solid {
    border: 1px solid var(--green-color);
}
.border-green-top-1-solid {
    border-top: 1px solid var(--green-color);
}
.border-green-bottom-1-solid {
    border-bottom: 1px solid var(--green-color);
}
.border-green-left-1-solid {
    border-left: 1px solid var(--green-color);
}
.border-green-right-1-solid {
    border-right: 1px solid var(--green-color);
}

::-webkit-scrollbar-thumb {
    background: var(--blue-color) !important;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: unset;
    border-radius: 22px;
}
::-webkit-scrollbar-thumb {
    border-radius: 22px;
    background: 0 0;
    transition: var(--smooth-transition);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-highlight-color);
}


/*============  HEADER  ============*/

.dropdown-toggle.nav__item-link {
    padding-right: 10px;
}

.navbar .nav__item.with-dropdown>.dropdown-menu, .navbar .nav__item.dropdown-submenu>.mega-menu, .navbar .nav__item.with-dropdown>.mega-menu, .navbar .nav__item.with-dropdown>.dropdown-menu>.nav__item.dropdown-submenu>.dropdown-menu {
    left: auto;
    right: 0;
}

.header-transparent .navbar .nav__item .nav__item-link:before {
    background-color: var(--orange-color);
}

.place-order-btn-mobile {
    color: var(--white-color) !important;
    text-transform: capitalize;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    width: max-content;
    height: fit-content;
    line-height: 48px;
    border-radius: 3px;
    text-align: center;
    padding: 0 15px !important;
    margin-left: 15px !important;
    letter-spacing: 0.4px;
    border-radius: 2px;
    background: var(--orange-color);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.login-signup-link {
    color: var(--orange-color) !important;
}
/*============  HEADER  ============*/

/*============  LOGIN  ============*/
.login-section {
    height: calc(100vh - 100px);
}

.login-tabs.nav-tabs .nav-item .nav-link {
    min-width: 100px;
    border: none;
    background: transparent;
}

.login-tabs.nav-tabs .nav-item.show .nav-link, .login-tabs.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border: none;
}
/*============  LOGIN  ============*/
.auth-page-wrapper .header-transparent .logo-light,
.other-page-wrapper .header-transparent .logo-light {
    display: none;
}

.auth-page-wrapper .header-transparent .logo-dark,
.other-page-wrapper .header-transparent .logo-dark {
    display: inline-block;
}


.auth-page-wrapper .navbar,
.other-page-wrapper .navbar {
    border-bottom: 1px solid #ededed;
}

.auth-page-wrapper .header-transparent .module__btn, .auth-page-wrapper .header-transparent .nav__item .nav__item-link,
.other-page-wrapper .header-transparent .module__btn, .other-page-wrapper .header-transparent .nav__item .nav__item-link {
    color: var(--primary-color);
}

.auth-page-wrapper .navbar-modules .btn__request,
.other-page-wrapper .navbar-modules .btn__request {
    color: #ffffff !important;
}

.auth-page-wrapper .navbar-modules li a:hover,
.other-page-wrapper .navbar-modules li a:hover {
    color: var(--orange-color);
}

/*============  USER REGISTRATION  ============*/
.custom-nav-tabs.nav-tabs .nav-item:first-child .nav-link {
    border-radius: 3px 0 0 3px !important;
}

.custom-nav-tabs.nav-tabs .nav-item:last-child .nav-link {
    border-radius: 0 3px 3px 0 !important;
}

.custom-nav-tabs.nav-tabs .nav-item .nav-link {
    color: var(--primary-color);
    border-color: var(--svg-icon-color);
}

.custom-nav-tabs.nav-tabs .nav-item.show .nav-link, .custom-nav-tabs.nav-tabs .nav-link.active {
    color: var(--white-color);
    font-weight: 500;
    border-radius: 0;
    background-color: var(--svg-icon-color);
    border-color: var(--svg-icon-color);
}

/*============  USER REGISTRATION  ============*/

/*============  OTHER PAGE WRAPPER  ============*/
/*.other-page-wrapper {*/
/*    height: 100vh;*/
/*    background: var(--bg-color);*/
/*}*/
/*============  OTHER PAGE WRAPPER  ============*/


/*============  Forms  ============*/
.form-control {
    background-color: var(--bg-color);
}

/*File Type Input*/
input[type=file]::-ms-browse,
input[type=file]::-ms-browse:hover,
input[type=file]::-ms-browse:active,
input[type=file]::-ms-browse:focus {
    cursor: pointer;
    color: var(--white-color);
    height: 50px;
    font-weight: 500;
    padding: 15px 15px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: var(--orange-color);
    box-shadow: none;
}

input[type=file]::-webkit-file-upload-button,
input[type=file]::-webkit-file-upload-button:hover,
input[type=file]::-webkit-file-upload-button:active,
input[type=file]::-webkit-file-upload-button:focus {
    cursor: pointer;
    color: var(--white-color);
    height: 50px;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: var(--orange-color);
    box-shadow: none;
    line-height: 1;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}
/*============  Forms  ============*/


/*============  HOME BANNER SLIDER  ============*/
.slider .slide-item {
    height: 60vh;
    min-height: 60vh;
}

.banner-tracking .form-control:focus {
    background-color: var(--bg-color);
}
/*============  HOME BANNER SLIDER  ============*/


/*============  BRAND AND RETAILERS  ============*/
.brand-and-retailers .trusted-brands .trusted-brands-inner,
.brand-and-retailers .our-retailers .our-retailers-inner {
    width: 100%;
    padding: 30px 15px;
    /*margin-bottom: 30px;*/
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: 0 5px 83px 0 rgba(40, 40, 40, 0.08);
}
/*============  BRAND AND RETAILERS  ============*/


/*============  FOOTER  ============*/
.footer-social-icons {
    display: flex;
}

.contact__list li div {
    width: 16px;
    margin-right: 6px;
}

.contact__list li i {
    color: var(--orange-color);
    font-size: 16px;
}

.footer-social-icons a {
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: var(--blue-color) !important;
    width: 40px;
    height: 40px;
    font-size: 18px !important;
    font-weight: 700;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.footer-social-icons svg {
    fill: var(--blue-color);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.footer-social-icons a:hover svg,
.footer-social-icons a:active svg,
.footer-social-icons a:focus svg {
    fill: var(--white-color);
}

.footer-social-icons a:hover,
.footer-social-icons a:active,
.footer-social-icons a:focus {
    color: var(--white-color) !important;
    background-color: var(--blue-color);
}
/*============  FOOTER  ============*/


/*============  CHOICES SELECTOR  ============*/
.choices__list--multiple .choices__item {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 3.75px;
    margin-bottom: 3.75px;
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    color: var(--white-color);
    word-break: break-all;
}
/*============  CHOICES SELECTOR  ============*/


/*============  CUSTOM CHECKBOX  ============*/
.cust-checkbox {
    display: block;
    position: relative;
    padding-left: 1.25rem;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.cust-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.cust-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: -1px;
    height: 12.8px;
    width: 12.8px;
    background-color: var(--white-color) !important;
    border-radius: 50%;
    border: 1px solid var(--blue-color);
}

/* On mouse-over, add a grey background color */
.cust-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.cust-checkbox input:checked ~ .checkmark {
    border: 1px solid #2196F3 !important;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.cust-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.cust-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.cust-checkbox .checkmark:after {
    top: 1.2px;
    left: 1.4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2196F3;
}

#singleOrderCheck input:checked ~ #bulkOrderCheck .checkmark:after {
    display: none;
}
/*============  CUSTOM CHECKBOX  ============*/

/*============  ORDER TYPE TABS  ============*/
.order-type-tabs.nav-tabs .nav-item:last-child {
    padding-left: 15px;
}

.order-type-tabs.nav-tabs .nav-item.show .nav-link, .order-type-tabs.nav-tabs .nav-link.active {
    color: var(--blue-color);
    background-color: transparent;
    border-color: transparent;
}

.order-type-tabs.nav-tabs .nav-link:focus, .order-type-tabs.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.order-type-tabs.nav-tabs .nav-item {
    width: 50%;
}

.order-type-tabs.nav-tabs .nav-item .nav-link {
    display: flex;
    align-items: center;
    color: var(--blue-color);
    font-size: 14px;
    font-weight: 600;
    padding: 0;
}

.order-type-active-dot {
    width: 11px;
    height: 11px;
    margin-left: -1px;
    margin-right: 9px;
    border-radius: 50%;
    border: 2px solid var(--white-color);
    background: var(--white-color);
    box-shadow: 0 0 0 1px var(--blue-color);
    outline: none;
}

.order-type-tabs.nav-tabs .nav-item.show #singleOrderTab .single-order-active-dot, .order-type-tabs.nav-tabs #singleOrderTab.active .single-order-active-dot,
.order-type-tabs.nav-tabs .nav-item.show #bulkOrderTab .single-order-active-dot, .order-type-tabs.nav-tabs #bulkOrderTab.active .bulk-order-active-dot {
    border: 2px solid var(--white-color);
    background: #2196F3;
    box-shadow: 0 0 0 1px #2196F3;
    outline: none;
}
/*============  ORDER TYPE TABS  ============*/

/*============  CARD SHADOW  ============*/
.card-shadow {
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: 0 5px 83px 0 rgba(40, 40, 40, 0.008);
}
/*============  CARD SHADOW  ============*/

/*============  OUR PARTNERS  ============*/
.our-partner-card .our-partner-card-text {
    height: 200px;
}
/*============  OUR PARTNERS  ============*/


/*============  CONTACT US  ============*/
.contact-social-icons a,
.contact-social-icons a,
.contact-social-icons a {
    color: var(--white-color) !important;
    background-color: var(--blue-color);
}

.contact-social-icons a:hover,
.contact-social-icons a:active,
.contact-social-icons a:focus {
    color: var(--white-color) !important;
    background-color: var(--orange-color);
}
/*============  CONTACT US  ============*/

/*============  FAQ  ============*/
.faq-card-title {
    position: relative;
}

.faq-card-title .faq-card-collapse-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -6px;
    right: 15px;
    color: var(--white-color);
    width: 32px;
    height: 32px;
    font-size: 14px;
    border-radius: 4px;
    background-color: var(--orange-color);
    /*transform: rotate(180deg);*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.faq-card-title .faq-card-collapse-btn[aria-expanded="true"] {
    transform: rotate(180deg);
}

.faq-card-content .faq-card-content-inner {
    padding: 15px;
    border-radius: 0 0 4px 4px;
    background-color: var(--bg-color);
}
/*============  FAQ  ============*/

/*============  CUSTOM COMPONENTS  ============*/
.custom-hr {
    display: flex;
    width: 100%;
    border-bottom: 2px solid var(--border-color);
}

.custom-collapse-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    width: 32px;
    height: 32px;
    font-size: 14px;
    border-radius: 4px;
    background-color: var(--orange-color);
    /*transform: rotate(180deg);*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.custom-collapse-btn[aria-expanded="true"] {
    transform: rotate(180deg);
}
/*============  CUSTOM COMPONENTS  ============*/

/*============  TRACKING DETAILS  ============*/
#orderProgressbar {
    margin-bottom: 3vh;
    overflow: hidden;
    color: var(--orange-color);
    padding-left: 0px;
    margin-top: 3vh
}

#orderProgressbar li {
    list-style-type: none;
    font-size: 16px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 600;
    color: var(--blue-color)
}

#orderProgressbar #step1:before {
    content: "";
    color: var(--orange-color);
    width: 20px;
    height: 20px;
    margin-left: 0px !important
}

#orderProgressbar #step2:before {
    content: "";
    color: var(--orange-color);
    width: 20px;
    height: 20px;
    margin-left: 32%
}

#orderProgressbar #step3:before {
    content: "";
    color: var(--orange-color);
    width: 20px;
    height: 20px;
    margin-right: 32%
}

#orderProgressbar #step4:before {
    content: "";
    color: rgba(151, 149, 149, 0.651);
    width: 20px;
    height: 20px;
    margin-right: 0px !important
}

#orderProgressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: rgb(151, 149, 149);
    border-radius: 50%;
    margin: auto;
    z-index: -1;
    margin-bottom: 1vh
}

#orderProgressbar li:after {
    content: '';
    height: 3px;
    background: rgba(151, 149, 149, 0.651);
    position: absolute;
    left: 0%;
    right: 0%;
    margin-bottom: 2vh;
    top: 8px;
    z-index: 1
}

.order-progress-track {
    padding: 0 8%
}

#orderProgressbar li:nth-child(2):after {
    margin-right: auto
}

#orderProgressbar li:nth-child(1):after {
    margin: auto
}

#orderProgressbar li:nth-child(3):after {
    float: left;
    width: 68%
}

#orderProgressbar li:nth-child(4):after {
    margin-left: auto;
    width: 132%
}

#orderProgressbar li.active:before,
#orderProgressbar li.active:after {
    background: var(--orange-color)
}

/*============  TRACKING DETAILS  ============*/


/*============  ABOUT US  ============*/
.owl-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.owl-nav button {
    position: absolute;
    color: var(--white-color);
    font-size: 56px;
    top: 50%;
    transform: translate(0,-48%);
}

.about-us-carousel .owl-nav button.owl-next {
    right: 0;
}

.about-us-media-card-inner {
    max-height: 200px;
}
/*============  ABOUT US  ============*/


/*============  THEME SETTINGS  ============*/

.navbar .navbar-brand img {
    max-height: 100px;
}

.footer__widget-about .footer-logo {
    height: 80px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--blue-color);
}

.slider-1 .thumbs-dots .owl-thumb-item {
    background-color: var(--blue-color);
}

.slider-1 .thumbs-dots .owl-thumb-item.active {
    background-color: var(--orange-color);
}

.navbar-modules .btn__request {
    background-color: var(--orange-color);
}

.navbar-modules .btn__request:hover {
    background-color: var(--secondary-highlight-color);
}

.navbar-modules li a:hover {
    color: var(--orange-color);
}

#scrollTopBtn {
    background-color: var(--blue-color);
}

#scrollTopBtn:hover {
    background-color: var(--orange-color);
}

.btn__white {
    color: var(--blue-color);
}

.btn__white:active, .btn__white:focus, .btn__white:hover {
    background-color: var(--orange-color);
    border-color: var(--orange-color);
}

::selection {
    background-color: var(--orange-color);
}

.footer__widget-nav li a:hover, .footer__copyright-links li a:hover {
    color: var(--orange-color);
}

label {
    color: var(--blue-color);
}

.btn__primary {
    background-color: var(--orange-color);
    border: 2px solid var(--orange-color);
}

.btn__primary:active, .btn__primary:focus, .btn__primary:hover {
    color: var(--orange-color);
}

.form-control:focus {
    border-color: var(--orange-color);
}
/*============  THEME SETTINGS  ============*/
