:root {
    --blue-color: #121c45;
    --white-color: #ffffff;
    --black-color: #000000;
    --red-color: #FF0000;
    --green-color: #64ca15;
    --gold-color: #ffd700;
    --orange-color: #ff5e14;
    --facebook-color: #4267b2;
    --google-color: #4285f4;
    --insta-color: #E1306C;
    --primary-color: #121c45;
    --secondary-color: #9b9b9b;
    --invert-text: #e4e6eb;
    --transparent-color: transparent;
    --quick-transition: all ease 0.5s;
    --smooth-transition: all ease 1s;
    --heading-color: #65676b;
    --bg-color: #f5f5f5;
    --svg-icon-color: #6c757d;
    --svg-icon-color-hover: #5a6268;
    --search-input-color: #f0f2f5;
    --highlight-bg-color: rgb(228, 230, 235);
    --highlight-play-btn-color: 228, 230, 235;
    --border-color: #ededed;
    --surface-bg-color: #ffffff;
    --dark-toggle-color: #242526;
    --btn-bg-color: transparent;
    --blue-hover-color: rgba(45, 136, 255, 0.1);
    --grayscale-full: grayscale(100%);
    --grayscale-zero: grayscale(0%);
    --card-shadow: rgba(218, 218, 218, 1);
}


/*html {*/
/*    height: 100%;*/
/*    !*-webkit-user-select: none;*!*/
/*    !*-moz-user-select: -moz-none;*!*/
/*    !*-ms-user-select: none;*!*/
/*    !*user-select: none;*!*/
/*    !*overscroll-behavior: contain !important;*!*/
/*}*/
/*body {*/
/*    height: 100%;*/
/*    !*overscroll-behavior: contain !important;*!*/
/*}*/

.d-grid {
    display: grid;
}
.cursor-pointer {
    cursor: pointer;
}

.modal-md {
    max-width: 750px;
}

.break-all {
    word-break: break-all;
}
.break-word {
    word-break: break-word;
}
.invalid-feedback strong {
    color: inherit !important;
}

.display-none {
    display: none;
}

.min-w-80 {
    min-width: 80px;
}
.min-w-100 {
    min-width: 100px;
}
.object-fit-cover {
    object-fit: cover !important;
}
.object-fit-fill {
    object-fit: fill !important;
}
.object-fit-contain {
    object-fit: contain !important;
}
.f-8 {
    font-size: 8px;
}
.f-10 {
    font-size: 10px;
}
.f-12 {
    font-size: 12px;
}
.f-14 {
    font-size: 14px;
}
.f-16 {
    font-size: 16px;
}
.f-18 {
    font-size: 18px;
}
.f-20 {
    font-size: 20px;
}
.f-22 {
    font-size: 22px;
}
.f-24 {
    font-size: 24px;
}
.f-26 {
    font-size: 26px;
}
.f-28 {
    font-size: 28px;
}
.f-30 {
    font-size: 30px;
}
.f-32 {
    font-size: 32px;
}
.f-34 {
    font-size: 34px;
}
.f-36 { font-size: 36px;}
.f-38 { font-size: 38px;}
.f-40 { font-size: 40px;}
.f-42 { font-size: 42px;}
.f-44 { font-size: 44px;}
.f-46 { font-size: 46px;}
.f-48 { font-size: 48px;}
.f-50 { font-size: 50px;}
.f-52 { font-size: 52px;}

.fw-100 {font-weight: 100;}
.fw-200 {font-weight: 200;}
.fw-400 {font-weight: 400;}
.fw-500 {font-weight: 500;}
.fw-600 {font-weight: 600;}
.fw-700 {font-weight: 700;}
.fw-800 {font-weight: 800;}

.txt-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.txt-overflow-1 {
    -webkit-line-clamp: 1;
}
.txt-overflow-2 {
    -webkit-line-clamp: 2;
}
.txt-overflow-3 {
    -webkit-line-clamp: 3;
}
.txt-overflow-4 {
    -webkit-line-clamp: 4;
}
.txt-overflow-5 {
    -webkit-line-clamp: 5;
}
.txt-overflow-6 {
    -webkit-line-clamp: 6;
}
.txt-overflow-7 {
    -webkit-line-clamp: 7;
}
.txt-overflow-8 {
    -webkit-line-clamp: 8;
}
.txt-overflow-9 {
    -webkit-line-clamp: 9;
}
.txt-overflow-10 {
    -webkit-line-clamp: 10;
}
.m-1rem {
    margin: 1rem;
}
.mt-1rem {
    margin-top: 1rem;
}
.mb-1rem {
    margin-bottom: 1rem;
}
.mb-1-25rem {
    margin-bottom: 1.25rem;
}
.ml-1rem {
    margin-left: 1rem;
}
.mr-1rem {
    margin-right: 1rem;
}
.m-2rem {
    margin: 2rem;
}
.mt-2rem {
    margin-top: 2rem;
}
.mb-2rem {
    margin-bottom: 2rem;
}
.ml-2rem {
    margin-left: 2rem;
}
.mr-2rem {
    margin-right: 2rem;
}
.m-3rem {
    margin: 3rem;
}
.mt-3rem {
    margin-top: 3rem;
}
.mb-3rem {
    margin-bottom: 3rem;
}
.ml-3rem {
    margin-left: 3rem;
}
.mr-3rem {
    margin-right: 3rem;
}
.m-4rem {
    margin: 4rem;
}
.mt-4rem {
    margin-top: 4rem;
}
.mb-4rem {
    margin-bottom: 4rem;
}
.ml-4rem {
    margin-left: 4rem;
}
.mr-4rem {
    margin-right: 4rem;
}

.mt-10 {margin-top: 10px;}
.ml-10 {margin-left: 10px;}
.mr-10 {margin-right: 10px;}
.mb-10 {margin-bottom: 10px;}

.mt-20 {margin-top: 20px;}
.ml-20 {margin-left: 20px;}
.mr-20 {margin-right: 20px;}
.mb-20 {margin-bottom: 20px;}

.py-2rem-4rem { padding: 2rem 0 4rem 0;}

.py-2rem { padding: 2rem 0;}
.py-4rem { padding: 4rem 0;}
.py-6rem { padding: 6rem 0;}
.py-8rem { padding: 8rem 0;}
.py-10rem { padding: 10rem 0;}

.px-2rem { padding: 0 2rem;}
.px-4rem { padding: 0 4rem;}
.px-6rem { padding: 0 6rem;}
.px-8rem { padding: 0 8rem;}
.px-10rem { padding: 0 10rem;}

.w-50-pre {width: 50%;}
.w-60-pre {width: 60%;}
.w-75-pre {width: 75%;}

.w-10-px { width: 10px;}
.w-20-px { width: 20px;}
.w-25-px { width: 25px;}
.w-32-px { width: 32px;}
.w-36-px { width: 36px;}
.w-40-px { width: 40px;}
.w-50-px { width: 50px;}
.w-60-px { width: 60px;}
.w-70-px { width: 70px;}
.w-74-px { width: 74px;}
.w-80-px { width: 80px;}
.w-100-px { width: 100px;}
.w-120-px { width: 120px;}
.w-150-px { width: 150px;}
.w-160-px { width: 160px;}
.w-170-px { width: 170px;}
.w-200-px { width: 200px;}
.w-250-px { width: 250px;}
.w-270-px { width: 270px;}

.min-w-10-px { min-width: 10px;}
.min-w-20-px { min-width: 20px;}
.min-w-25-px { min-width: 25px;}
.min-w-32-px { min-width: 32px;}
.min-w-36-px { min-width: 36px;}
.min-w-40-px { min-width: 40px;}
.min-w-50-px { min-width: 50px;}
.min-w-60-px { min-width: 60px;}
.min-w-70-px { min-width: 70px;}
.min-w-74-px { min-width: 74px;}
.min-w-80-px { min-width: 80px;}
.min-w-100-px { min-width: 100px;}
.min-w-120-px { min-width: 120px;}
.min-w-150-px { min-width: 150px;}
.min-w-160-px { min-width: 160px;}
.min-w-170-px { min-width: 170px;}
.min-w-200-px { min-width: 200px;}
.min-w-250-px { min-width: 250px;}
.min-w-270-px { min-width: 270px;}

.w-100-calc-20 {
    width: calc(100% - 20px);
}

.w-100 {
    width: 100% !important;
}

.min-w-100 {
    min-width: 100px;
}

.min-w-100-pr {
    min-width: 100%;
}

.m-w-unset {
    min-width: unset !important;
}

.min-w-fit-content {
    min-width: fit-content;
}

.min-w-max-content {
    min-width: max-content;
}

.h-100 {
    height: 100% !important;
}

.h-fit {height: fit-content !important;}

.h-400-overflow {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* width */
.h-400-overflow::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.h-400-overflow::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
}

/* Handle */
.h-400-overflow::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 8px;
}

/* Handle on hover */
.h-400-overflow::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

.h-10 { height: 10px;}
.h-20 { height: 20px;}
.h-28 { height: 28px;}
.h-30 { height: 30px;}
.h-32 { height: 32px;}
.h-34 { height: 34px;}
.h-36 { height: 36px;}
.h-38 { height: 38px;}
.h-40 { height: 40px;}
.h-56 { height: 56px;}
.h-64 { height: 64px;}
.h-70 { height: 70px;}
.h-76 { height: 76px;}
.h-80 { height: 80px;}
.h-100px { height: 100px;}
.h-120 { height: 120px;}
.h-150 { height: 150px;}
.h-160 { height: 160px;}
.h-170 { height: 170px;}
.h-180 { height: 180px;}
.h-200 { height: 200px;}
.h-250 { height: 250px;}
.h-270 { height: 270px;}
.h-300 { height: 300px;}
.h-400 { height: 400px;}
.h-500 { height: 500px;}
.h-600 { height: 600px;}

.m-h-28 { max-height: 28px;}
.m-h-30 { max-height: 30px;}
.m-h-32 { max-height: 32px;}
.m-h-34 { max-height: 34px;}
.m-h-36 { max-height: 36px;}
.m-h-38 { max-height: 38px;}
.m-h-56 { max-height: 56px;}
.m-h-64 { max-height: 64px;}
.m-h-70 { max-height: 70px;}
.m-h-80 { max-height: 80px;}
.m-h-100 { max-height: 100px;}
.m-h-120 { max-height: 120px;}
.m-h-150 { max-height: 150px;}
.m-h-160 { max-height: 160px;}
.m-h-170 { max-height: 170px;}
.m-h-180 { max-height: 180px;}
.m-h-200 { max-height: 200px;}
.m-h-250 { max-height: 250px;}
.m-h-270 { max-height: 270px;}

.min-h-28 { min-height: 28px;}
.min-h-30 { min-height: 30px;}
.min-h-32 { min-height: 32px;}
.min-h-34 { min-height: 34px;}
.min-h-36 { min-height: 36px;}
.min-h-38 { min-height: 38px;}
.min-h-56 { min-height: 56px;}
.min-h-64 { min-height: 64px;}
.min-h-70 { min-height: 70px;}
.min-h-80 { min-height: 80px;}
.min-h-100 { min-height: 100px;}
.min-h-120 { min-height: 120px;}
.min-h-150 { min-height: 150px;}
.min-h-160 { min-height: 160px;}
.min-h-170 { min-height: 170px;}
.min-h-180 { min-height: 180px;}
.min-h-200 { min-height: 200px;}
.min-h-250 { min-height: 250px;}
.min-h-270 { min-height: 270px;}

.line-height-1 { line-height: 1;}
.line-height-1-1 { line-height: 1.1;}
.line-height-1-2 { line-height: 1.2;}
.line-height-1-3 { line-height: 1.3;}
.line-height-1-4 { line-height: 1.4;}
.line-height-1-5 { line-height: 1.5;}
.line-height-1-6 { line-height: 1.6;}
.line-height-1-7 { line-height: 1.7;}
.line-height-1-8 { line-height: 1.8;}
.line-height-1-9 { line-height: 1.9;}
.line-height-2 { line-height: 2;}

.fade-in {
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-out {
    animation: fadeout 1s;
    -moz-animation: fadeout 1s;
    -webkit-animation: fadeout 1s;
    -o-animation: fadeout 1s;
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-o-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.bg-color {
    background-color: var(--bg-color);
}
.surface-bg-color {
    background-color: var(--surface-bg-color);
}
.highlight-bg-color {
    background-color: var(--highlight-bg-color);
}
.bg-white {
    background-color: var(--white-color);
}
.bg-orange {
    background-color: var(--black-color);
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-red {
    background-color: var(--red-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-gold {
    background-color: var(--gold-color);
}

.bg-google {
    background-color: var(--google-color);
}

.bg-facebook {
    background-color: var(--facebook-color);
}

.bg-insta {
    background-color: var(--insta-color);
}
.header-text {
    color: var(--heading-color);
}
.primary-text {
    color: var(--primary-color);
}
.secondary-text {
    color: var(--secondary-color);
}
.blue-text {
    color: var(--blue-color);
}
.red-text {
    color: var(--red-color);
}
.green-text {
    color: var(--green-color);
}
.gold-text {
    color: var(--gold-color);
}
.orange-text {
    color: var(--orange-color);
}
.surface-bg-text {
    color: var(--surface-bg-color) !important;
}
.white-text {
    color: #e4e6eb;
}
.black-text {
    color: #000;
}

.gray-text {
    color: var(--heading-color);
}
a,
a:active,
a:focus,
a:hover {
    text-decoration: none;
    color: inherit;
}
.grayscale-full {
    filter: var(--grayscale-full);
}
.grayscale-zero {
    filter: var(--grayscale-zero);
}

.transparent-color {
    color: var(--transparent-color);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 100px;
    /*height: fit-content !important;*/
    padding: 11px;
    line-height: 1 !important;
}

.btn-primary {
    color: var(--white-color);
    background-color: var(--orange-color);
    border-color: var(--orange-color);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.primary-circle-btn {
    color: var(--orange-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    line-height: 1;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid var(--orange-color);
    background-color: var(--white-color);
    transition: var(--quick-transition);
}

.primary-circle-btn:hover,
.primary-circle-btn:active,
.primary-circle-btn:focus {
    color: var(--white-color);
    background-color: var(--orange-color);
}

.secondary-btn {
    color: var(--white-color);
    border: 2px solid var(--blue-color);
    background-color: var(--blue-color);
}

.secondary-btn:hover,
.secondary-btn:active,
.secondary-btn:focus {
    color: var(--white-color);
    background-color: var(--blue-color);
}

.secondary-circle-btn {
    color: var(--blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    line-height: 1;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid var(--blue-color);
    background-color: var(--white-color);
    transition: var(--quick-transition);
}

.secondary-circle-btn i {
    top: 0;
    font-size: 14px;
}

.secondary-circle-btn:hover,
.secondary-circle-btn:active,
.secondary-circle-btn:focus {
    color: var(--white-color);
    background-color: var(--blue-color);
}

.danger-circle-btn {
    color: var(--red-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    line-height: 1;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid var(--red-color);
    background-color: var(--white-color);
    transition: var(--quick-transition);
}

.danger-circle-btn:hover,
.danger-circle-btn:active,
.danger-circle-btn:focus {
    color: var(--white-color);
    background-color: var(--red-color);
}

.red-btn {
    color: var(--white-color);
    fill: var(--white-color);
    font-weight: 500;
    padding: 2px 15px;
    border-radius: 4px;
    border: 1px solid var(--red-color);
    background-color: var(--btn-bg-color);
    transition: var(--quick-transition);
}
.red-btn:active,
.red-btn:focus,
.red-btn:hover {
    color: var(--white-color);
    fill: var(--white-color);
    outline: 0;
    border: 1px solid var(--red-color);
    background-color: var(--red-color);
}
.red-btn svg {
    fill: var(--red-color);
    font-weight: 500;
}
.red-btn:active svg,
.red-btn:focus svg,
.red-btn:hover svg {
    fill: var(--white-color);
}
.red-lbl {
    color: var(--red-color) !important;
    fill: var(--red-color) !important;
    font-weight: 600;
    padding: 2px 15px;
    border-radius: 4px;
    border: 2px solid var(--red-color);
    background-color: var(--transparent-color);
    transition: var(--quick-transition);
}
.red-lbl:active,
.red-lbl:focus,
.red-lbl:hover {
    color: var(--white-color);
    fill: var(--white-color);
    outline: 0;
}
.red-lbl svg {
    fill: var(--white-color);
    font-weight: 500;
}
.red-lbl:active svg,
.red-lbl:focus svg,
.red-lbl:hover svg {
    fill: var(--white-color);
}
.blue-btn {
    color: var(--blue-color);
    fill: var(--blue-color);
    font-weight: 500;
    padding: 2px 15px;
    border-radius: 4px;
    border: 1px solid var(--blue-color);
    background-color: var(--btn-bg-color);
    transition: var(--quick-transition);
}
.blue-btn:active,
.blue-btn:focus,
.blue-btn:hover {
    color: var(--white-color);
    fill: var(--white-color);
    outline: 0;
    border: 1px solid var(--blue-color);
    background-color: var(--blue-color);
}
.blue-btn svg {
    fill: var(--blue-color);
    font-weight: 500;
}
.blue-btn:active svg,
.blue-btn:focus svg,
.blue-btn:hover svg {
    fill: var(--white-color);
}
.blue-fill-btn {
    color: var(--white-color) !important;
    fill: var(--white-color) !important;
    font-weight: 500;
    padding: 2px 15px;
    border-radius: 4px;
    border: 1px solid var(--blue-color);
    background-color: var(--blue-color);
    transition: var(--quick-transition);
}
.blue-fill-btn:active,
.blue-fill-btn:focus,
.blue-fill-btn:hover {
    color: var(--white-color);
    fill: var(--white-color);
    outline: 0;
    border: 1px solid var(--blue-color);
    background-color: var(--blue-color);
}
.blue-lbl {
    color: var(--blue-color) !important;
    fill: var(--blue-color) !important;
    font-weight: 600;
    padding: 2px 15px;
    border-radius: 4px;
    border: 2px solid var(--blue-color);
    background-color: var(--transparent-color);
    transition: var(--quick-transition);
}
.blue-lbl:active,
.blue-lbl:focus,
.blue-lbl:hover {
    color: var(--white-color);
    fill: var(--white-color);
    outline: 0;
}
.blue-lbl svg {
    fill: var(--white-color);
    font-weight: 500;
}
.blue-lbl:active svg,
.blue-lbl:focus svg,
.blue-lbl:hover svg {
    fill: var(--white-color);
}
.green-btn {
    color: var(--green-color);
    fill: var(--green-color);
    border: 1px solid var(--green-color);
    background-color: var(--btn-bg-color);
    transition: var(--quick-transition);
}
.green-btn:active,
.green-btn:focus,
.green-btn:hover {
    color: var(--bg-color);
    fill: var(--bg-color);
    outline: 0;
    border: 1px solid var(--green-color);
    background-color: var(--green-color);
}
.green-btn svg {
    fill: var(--green-color);
    font-weight: 500;
}
.green-btn:active svg,
.green-btn:focus svg,
.green-btn:hover svg {
    fill: var(--bg-color);
}
.green-lbl {
    color: var(--green-color) !important;
    fill: var(--green-color) !important;
    font-weight: 600;
    padding: 2px 15px;
    border-radius: 4px;
    border: 2px solid var(--green-color);
    background-color: var(--transparent-color);
    transition: var(--quick-transition);
}
.green-lbl:active,
.green-lbl:focus,
.green-lbl:hover {
    color: var(--bg-color);
    fill: var(--bg-color);
    outline: 0;
}
.green-btn svg {
    fill: var(--white-color);
    font-weight: 500;
}
.green-lbl:active svg,
.green-lbl:focus svg,
.green-lbl:hover svg {
    fill: var(--white-color);
}

.success-circle-btn {
    color: var(--green-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    line-height: 1;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid var(--green-color);
    background-color: var(--white-color);
    transition: var(--quick-transition);
}

.success-circle-btn:hover,
.success-circle-btn:active,
.success-circle-btn:focus {
    color: var(--white-color);
    background-color: var(--green-color);
}

.orange-btn {
    color: var(--orange-color);
    fill: var(--orange-color);
    font-weight: 500;
    padding: 2px 15px;
    border-radius: 4px;
    border: 1px solid var(--orange-color);
    background-color: var(--btn-bg-color);
    transition: var(--quick-transition);
}
.orange-btn:active,
.orange-btn:focus,
.orange-btn:hover {
    color: var(--white-color);
    fill: var(--white-color);
    outline: 0;
    border: 1px solid var(--orange-color);
    background-color: var(--orange-color);
}
.orange-btn svg {
    fill: var(--orange-color);
    font-weight: 500;
}
.orange-btn:active svg,
.orange-btn:focus svg,
.orange-btn:hover svg {
    fill: var(--white-color);
}
.orange-lbl {
    color: var(--orange-color) !important;
    fill: var(--orange-color) !important;
    font-weight: 600;
    padding: 2px 15px;
    border-radius: 4px;
    border: 2px solid var(--orange-color);
    background-color: var(--transparent-color);
    transition: var(--quick-transition);
}
.orange-lbl:active,
.orange-lbl:focus,
.orange-lbl:hover {
    color: var(--white-color);
    fill: var(--white-color);
    outline: 0;
}
.orange-btn svg {
    fill: var(--white-color);
    font-weight: 500;
}
.orange-lbl:active svg,
.orange-lbl:focus svg,
.orange-lbl:hover svg {
    fill: var(--white-color);
}
.orange-fill-btn {
    color: var(--white-color) !important;
    fill: var(--white-color) !important;
    font-weight: 500;
    padding: 2px 15px;
    border-radius: 4px;
    border: 1px solid var(--orange-color);
    background-color: var(--orange-color);
    transition: var(--quick-transition);
}
.orange-fill-btn:active,
.orange-fill-btn:focus,
.orange-fill-btn:hover {
    color: var(--white-color);
    fill: var(--white-color);
    outline: 0;
    border: 1px solid var(--orange-color);
    background-color: var(--orange-color);
}
.btn-gray {
    color: var(--heading-color);
    fill: var(--heading-color);
    border: 1px solid transparent;
    background-color: var(--highlight-bg-color);
    transition: var(--quick-transition);
}
.btn-gray:active,
.btn-gray:focus,
.btn-gray:hover {
    color: var(--surface-bg-color);
    fill: var(--surface-bg-color);
    outline: 0;
    border: 1px solid transparent;
    background-color: var(--svg-icon-color);
}
.btn-gray svg {
    fill: var(--heading-color);
    font-weight: 500;
}
.btn-gray:active svg,
.btn-gray:focus svg,
.btn-gray:hover svg {
    fill: var(--white-color);
}

.default-circle-btn {
    color: var(--svg-icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    line-height: 1;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid var(--svg-icon-color);
    background-color: var(--white-color);
    transition: var(--quick-transition);
}

.default-circle-btn:hover,
.default-circle-btn:active,
.default-circle-btn:focus {
    color: var(--white-color);
    background-color: var(--svg-icon-color);
}

.outline-border-0 {
    border: unset;
    outline: unset;
}
.outline-border-0:active,
.outline-border-0:focus,
.outline-border-0:hover {
    outline: unset;
    border: unset;
    box-shadow: unset;
}

.border-2 {
    border-radius: 2px;
}

.border-3 {
    border-radius: 3px;
}

.border-4 {
    border-radius: 4px;
}
.border-top-left-4 {
    border-radius: 4px 0 0 0;
}
.border-top-right-4 {
    border-radius: 0 4px 0 0;
}
.border-bottom-left-4 {
    border-radius: 0 0 0 4px;
}
.border-bottom-right-4 {
    border-radius: 0 0 4px 0;
}
.border-8 {
    border-radius: 8px;
}
.border-top-left-8 {
    border-radius: 8px 0 0 0;
}
.border-top-right-8 {
    border-radius: 0 8px 0 0;
}
.border-bottom-left-8 {
    border-radius: 0 0 0 8px;
}
.border-bottom-right-8 {
    border-radius: 0 0 8px 0;
}
.border-12 {
    border-radius: 12px;
}
.border-top-left-12 {
    border-radius: 12px 0 0 0;
}
.border-top-right-12 {
    border-radius: 0 12px 0 0;
}
.border-bottom-left-12 {
    border-radius: 0 0 0 12px;
}
.border-bottom-right-12 {
    border-radius: 0 0 12px 0;
}
.border-circle {
    border-radius: 50%;
}
.border-1-solid {
    border: 1px solid var(--border-color);
}
.border-top-1-solid {
    border-top: 1px solid var(--border-color);
}
.border-bottom-1-solid {
    border-bottom: 1px solid var(--border-color);
}
.border-left-1-solid {
    border-left: 1px solid var(--border-color);
}
.border-right-1-solid {
    border-right: 1px solid var(--border-color);
}
.border-2-solid {
    border: 2px solid var(--border-color);
}
.border-top-2-solid {
    border-top: 2px solid var(--border-color);
}
.border-bottom-2-solid {
    border-bottom: 2px solid var(--border-color);
}
.border-left-2-solid {
    border-left: 2px solid var(--border-color);
}
.border-right-2-solid {
    border-right: 2px solid var(--border-color);
}
.border-4-solid {
    border: 4px solid var(--border-color);
}
.border-top-4-solid {
    border-top: 4px solid var(--border-color);
}
.border-bottom-4-solid {
    border-bottom: 4px solid var(--border-color);
}
.border-left-4-solid {
    border-left: 4px solid var(--border-color);
}
.border-right-4-solid {
    border-right: 4px solid var(--border-color);
}

.border-transparent-1-solid {
    border: 1px solid transparent;
}

.border-blue-1-solid {
    border: 1px solid var(--blue-color);
}
.border-blue-top-1-solid {
    border-top: 1px solid var(--blue-color);
}
.border-blue-bottom-1-solid {
    border-bottom: 1px solid var(--blue-color);
}
.border-blue-left-1-solid {
    border-left: 1px solid var(--blue-color);
}
.border-blue-right-1-solid {
    border-right: 1px solid var(--blue-color);
}
.border-red-1-solid {
    border: 1px solid var(--red-color);
}
.border-red-top-1-solid {
    border-top: 1px solid var(--red-color);
}
.border-red-bottom-1-solid {
    border-bottom: 1px solid var(--red-color);
}
.border-red-left-1-solid {
    border-left: 1px solid var(--red-color);
}
.border-red-right-1-solid {
    border-right: 1px solid var(--red-color);
}
.border-green-1-solid {
    border: 1px solid var(--green-color);
}
.border-green-top-1-solid {
    border-top: 1px solid var(--green-color);
}
.border-green-bottom-1-solid {
    border-bottom: 1px solid var(--green-color);
}
.border-green-left-1-solid {
    border-left: 1px solid var(--green-color);
}
.border-green-right-1-solid {
    border-right: 1px solid var(--green-color);
}

::-webkit-scrollbar-thumb {
    background: var(--blue-color) !important;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: unset;
    border-radius: 22px;
}
::-webkit-scrollbar-thumb {
    border-radius: 22px;
    background: 0 0;
    transition: var(--smooth-transition);
}
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.form-control {
    /*background-color: var(--search-input-color);*/
}

/*============  CUSTOM COMPONENTS  ============*/
h1, h2, h3, h4, h5, h6 {
    color: #121c45;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}

.custom-hr {
    display: flex;
    width: 100%;
    border-bottom: 2px solid var(--border-color);
}

.custom-collapse-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color) !important;
    width: 32px;
    height: 32px;
    font-size: 14px;
    border-radius: 4px;
    background-color: var(--orange-color);
    /*transform: rotate(180deg);*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.custom-collapse-btn[aria-expanded="true"] {
    transform: rotate(180deg);
}

.custom-switch .custom-control-input:checked~.custom-control-label::before, .custom-switch .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: var(--blue-color);
}
/*============  CUSTOM COMPONENTS  ============*/

/*============  Theme Customization  ============*/
.navbar-dark {
    background-color: #6e6e6e;
}

.sidebar-dark {
    background-color: #4b4b4b;
}

.badge-primary {
    background-color: var(--blue-color);
}

.badge-success {
    background-color: var(--green-color);
}

.badge-warning {
    background-color: var(--orange-color);
}

.badge-danger {
    background-color: var(--red-color);
}

.navbar-light .navbar-text a {
    color: var(--blue-color);
}
/*============  Theme Customization  ============*/

/*============  ORDER TYPE TABS  ============*/
.order-type-tabs.nav-tabs {
    border: none;
}

.order-type-tabs.nav-tabs .nav-item:last-child {
    padding-left: 10px;
}

.order-type-tabs.nav-tabs .nav-item.show .nav-link, .order-type-tabs.nav-tabs .nav-link.active {
    color: var(--blue-color);
    background-color: transparent;
    border-color: transparent;
}

.order-type-tabs.nav-tabs .nav-link:focus, .order-type-tabs.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.order-type-tabs.nav-tabs .nav-item {
    width: 50%;
}

.order-type-tabs.nav-tabs .nav-item .nav-link {
    display: flex;
    align-items: center;
    color: var(--blue-color);
    font-size: 14px;
    /*font-weight: 600;*/
    padding: 0;
}

.order-type-active-dot {
    width: 11px;
    height: 11px;
    margin-left: -1px;
    margin-right: 18px;
    border-radius: 50%;
    border: 2px solid var(--white-color);
    background: var(--white-color);
    box-shadow: 0 0 0 1px var(--blue-color);
    outline: none;
}

.order-type-tabs.nav-tabs .nav-item.show #singleOrderTab .single-order-active-dot, .order-type-tabs.nav-tabs #singleOrderTab.active .single-order-active-dot,
.order-type-tabs.nav-tabs .nav-item.show #bulkOrderTab .single-order-active-dot, .order-type-tabs.nav-tabs #bulkOrderTab.active .bulk-order-active-dot {
    border: 2px solid var(--white-color);
    background: #2196F3;
    box-shadow: 0 0 0 1px #2196F3;
    outline: none;
}
/*============  ORDER TYPE TABS  ============*/


/*============  FORMS  ============*/
/*Nav Tabs*/
.nav-pills .nav-item:first-child .nav-link {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.nav-pills .nav-item:last-child .nav-link {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.nav-pills .nav-link {
    color: var(--secondary-color);
    font-weight: 500;
    border-radius: 0;
    border: 1px solid var(--secondary-color);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--white-color);
    background-color: var(--blue-color);
}
/*Nav Tabs*/

/*File Type Input*/
input[type=file]::-ms-browse,
input[type=file]::-ms-browse:hover,
input[type=file]::-ms-browse:active,
input[type=file]::-ms-browse:focus {
    cursor: pointer;
    color: var(--white-color);
    height: 42px;
    font-weight: 500;
    padding: 15px 15px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: var(--orange-color);
    box-shadow: none;
}

input[type=file]::-webkit-file-upload-button,
input[type=file]::-webkit-file-upload-button:hover,
input[type=file]::-webkit-file-upload-button:active,
input[type=file]::-webkit-file-upload-button:focus {
    cursor: pointer;
    color: var(--white-color);
    height: 42px;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: var(--orange-color);
    box-shadow: none;
    line-height: 1;
}
/*============  FORMS  ============*/

/*============  TRACKING DETAILS  ============*/
#orderProgressbar {
    margin-bottom: 3vh;
    overflow: hidden;
    color: var(--orange-color);
    padding-left: 0px;
    margin-top: 3vh
}

#orderProgressbar li {
    list-style-type: none;
    font-size: 16px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 600;
    color: var(--blue-color)
}

#orderProgressbar #step1:before {
    content: "";
    color: var(--orange-color);
    width: 20px;
    height: 20px;
    margin-left: 0px !important
}

#orderProgressbar #step2:before {
    content: "";
    color: var(--orange-color);
    width: 20px;
    height: 20px;
    margin-left: 32%
}

#orderProgressbar #step3:before {
    content: "";
    color: var(--orange-color);
    width: 20px;
    height: 20px;
    margin-right: 32%
}

#orderProgressbar #step4:before {
    content: "";
    color: rgba(151, 149, 149, 0.651);
    width: 20px;
    height: 20px;
    margin-right: 0px !important
}

#orderProgressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: rgb(151, 149, 149);
    border-radius: 50%;
    margin: auto;
    z-index: -1;
    margin-bottom: 1vh
}

#orderProgressbar li:after {
    content: '';
    height: 3px;
    background: rgba(151, 149, 149, 0.651);
    position: absolute;
    left: 0%;
    right: 0%;
    margin-bottom: 2vh;
    top: 8px;
    z-index: 1
}

.order-progress-track {
    padding: 0 8%
}

#orderProgressbar li:nth-child(2):after {
    margin-right: auto
}

#orderProgressbar li:nth-child(1):after {
    margin: auto
}

#orderProgressbar li:nth-child(3):after {
    float: left;
    width: 68%
}

#orderProgressbar li:nth-child(4):after {
    margin-left: auto;
    width: 132%
}

#orderProgressbar li.active:before,
#orderProgressbar li.active:after {
    background: var(--orange-color)
}

/*============  TRACKING DETAILS  ============*/


/*============  My Profile  ============*/
.choices__inner {
    padding: 3px 7.5px;
    min-height: 38px;
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 3px;
}
/*============  My Profile  ============*/

/*============  Delivery Partner Ratings  ============*/

.delivery-partner-ratings .rate-counter .delivery-partner-rate-count {
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
}
.delivery-partner-ratings .rate-counter .delivery-partner-rate-star svg {
    margin-top: -10px;
}
.delivery-partner-ratings .rate-section .rate-section-star {
    margin-right: 2px;
}
.delivery-partner-ratings .rate-section .delivery-partner-rate {
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    align-items: center;
    color: #bfbfbf;
}
.delivery-partner-ratings .rate-section .rate {
    border: none;
    outline: 0;
    margin: 0;
    -webkit-appearance: none;
}
.delivery-partner-ratings .rate-section .rate:nth-of-type(odd)::after {
    background-position: right top;
    margin-right: 5px;
}
.delivery-partner-ratings .rate-section .rate:checked::after,
.delivery-partner-ratings .rate-section .rate:checked ~ .rate::after,
.delivery-partner-ratings .rate-section .rate:hover::after,
.delivery-partner-ratings .rate-section .rate:hover ~ .rate::after {
    background-image: url("data:image/svg+xml,%3Csvg class='grayscale-full' height='1em' viewBox='0 -10 511.98685 511' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0' fill='%23ffc107'%3E%3C/path%3E%3C/svg%3E");
}
.delivery-partner-ratings .rate-section .rate::after {
    content: "";
    display: block;
    width: 12px;
    height: 26px;
    transition: all 0.2s;
    background-repeat: no-repeat;
    background-size: 200%;
    background-image: url("data:image/svg+xml,%3Csvg class='grayscale-full' height='1em' viewBox='0 -10 511.98685 511' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0' fill='%23C1C1C1'%3E%3C/path%3E%3C/svg%3E");
}
.delivery-partner-ratings .rate-section div {
    font-size: 14px;
}
.delivery-partner-ratings .rate-section .delivery-partner-rate-score {
    font-size: 20px;
    font-weight: 700;
}

/*============  Delivery Partner Ratings  ============*/

/*============  My Orders  ============*/
.order-card-icon {
    color: var(--heading-color);
    font-size: 48px;
}

.order-card-text {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
/*============  My Orders  ============*/


/*============  Retailer Dashboard  ============*/

#myChart, #myChart2, #myChart3 {
    width: 100% !important;
    height: 400px !important;
}

/*============  Retailer Dashboard  ============*/

/*============  Web Content Management  ============*/
.file-preview .file-drop-zone {
    height: auto;
}
/*============  Web Content Management  ============*/

/*Pre-Loader*/
@-webkit-keyframes preloader-inside-white {
    0% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@keyframes preloader-inside-white {
    0% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@-webkit-keyframes preloader-inside-red {
    0% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    30% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@keyframes preloader-inside-red {
    0% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    30% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
/* Styles */
.preloader {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1051;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);

}
.preloader .preloader-container {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: auto;
    position: absolute;
    top: 44%;
    left: 0;
    position: relative;
}
.preloader .preloader-container .animated-preloader {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50em;
}
.preloader .preloader-container .animated-preloader:after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50em;
    background: var(--blue-color);
    -webkit-animation: preloader-inside-white 1s ease-in-out infinite;
    -ms-animation: preloader-inside-white 1s ease-in-out infinite;
    animation: preloader-inside-white 1s ease-in-out infinite;
}
.preloader .preloader-container .animated-preloader:before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border-radius: 50em;
    background: var(--white-color);
    -webkit-animation: preloader-inside-red 1s ease-in-out infinite;
    -ms-animation: preloader-inside-red 1s ease-in-out infinite;
    animation: preloader-inside-red 1s ease-in-out infinite;
}

/* File uploader preview */
#preview-image .game-cover-upload-content .game-cover-uploader {
    cursor: pointer;
    position: absolute;
    top: 74px;
    width: 100%;
    /*max-width: 350px;*/
    /*min-width: 290px;*/
    color: var(--primary-color);
    font-weight: 600;
    text-align: center;
    border-radius: 0;
    padding: 8px 15px;
    overflow: hidden;
    opacity: 0.9;
    background: var(--surface-bg-color);
}

#preview-image .game-cover-upload-content .game-cover-uploader input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    /*max-width: 350px;*/
    /*min-width: 290px;*/
    height: 38px;
    /*min-width: 100px;*/
    /*min-height: 100px;*/
    font-size: 10px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#preview-image .game-cover-upload-content .game-cover-upload-name {
    display: none;
}

#preview-image .gameCoverPreview {
    width: 100%;
    /*max-width: 350px;*/
    /*min-width: 290px;*/
    height: 198px;
    border-radius: 8px;
    -o-object-fit: cover !important;
    object-fit: cover !important;
}

/*Custom Form Group Support*/
.custom-form-group-support {
    display: flex;
    align-self: center;
    margin-top: -4px;
}
/*Custom Form Group Support*/
