@media screen and (max-width: 319px) {
    * {
        display: none !important;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff !important;
    }
    body:before {
        content: "Try in Big Screen!";
        color: #1d2124;
        font-weight: 600;
    }
}
@media (max-height: 575px) and (max-width: 1200px) and (orientation: landscape) {
    html {
        min-height: -webkit-fill-available;
    }
    body {
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }

}
@media screen and (min-width: 320px) and (max-width: 575px) {
    html {
        min-height: -webkit-fill-available;
    }
    body {
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }
    .f-xs-8 {
        font-size: 8px !important;
    }
    .f-xs-10 {
        font-size: 10px !important;
    }
    .f-xs-12 {
        font-size: 12px !important;
    }
    .f-xs-14 {
        font-size: 14px !important;
    }
    .f-xs-16 {
        font-size: 16px !important;
    }
    .f-xs-18 {
        font-size: 18px !important;
    }
    .f-xs-20 {
        font-size: 20px !important;
    }
    .f-xs-22 {
        font-size: 22px !important;
    }
    .f-xs-24 {
        font-size: 24px !important;
    }
    .f-xs-26 {
        font-size: 26px !important;
    }
    .f-xs-28 {
        font-size: 28px !important;
    }
    .f-xs-30 {
        font-size: 30px !important;
    }
    .f-xs-32 {
        font-size: 32px !important;
    }
    .f-xs-34 {
        font-size: 34px !important;
    }
    .f-xs-36 {
        font-size: 36px !important;
    }
    .border-xs-0 {
        border-radius: 0 !important;
    }
    .border-xs-4 {
        border-radius: 4px;
    }
    .border-xs-top-left-4 {
        border-radius: 4px 0 0 0;
    }
    .border-xs-top-right-4 {
        border-radius: 0 4px 0 0;
    }
    .border-xs-bottom-left-4 {
        border-radius: 0 0 0 4px;
    }
    .border-xs-bottom-right-4 {
        border-radius: 0 0 4px 0;
    }
    .border-xs-8 {
        border-radius: 8px;
    }
    .border-xs-top-left-8 {
        border-radius: 8px 0 0 0;
    }
    .border-xs-top-right-8 {
        border-radius: 0 8px 0 0;
    }
    .border-xs-bottom-left-8 {
        border-radius: 0 0 0 8px;
    }
    .border-xs-bottom-right-8 {
        border-radius: 0 0 8px 0;
    }
    .border-xs-12 {
        border-radius: 12px;
    }
    .border-xs-top-left-12 {
        border-radius: 12px 0 0 0;
    }
    .border-xs-top-right-12 {
        border-radius: 0 12px 0 0;
    }
    .border-xs-bottom-left-12 {
        border-radius: 0 0 0 12px;
    }
    .border-xs-bottom-right-12 {
        border-radius: 0 0 12px 0;
    }
    .border-xs-circle {
        border-radius: 50%;
    }
    .border-xs-1-solid {
        border: 1px solid var(--border-color);
    }
    .border-xs-top-1-solid {
        border-top: 1px solid var(--border-color);
    }
    .border-xs-bottom-1-solid {
        border-bottom: 1px solid var(--border-color);
    }
    .border-xs-left-1-solid {
        border-left: 1px solid var(--border-color);
    }
    .border-xs-right-1-solid {
        border-right: 1px solid var(--border-color);
    }
    .border-xs-2-solid {
        border: 2px solid var(--border-color);
    }
    .border-xs-top-2-solid {
        border-top: 2px solid var(--border-color);
    }
    .border-xs-bottom-2-solid {
        border-bottom: 2px solid var(--border-color);
    }
    .border-xs-left-2-solid {
        border-left: 2px solid var(--border-color);
    }
    .border-xs-right-2-solid {
        border-right: 2px solid var(--border-color);
    }
    .border-xs-4-solid {
        border: 4px solid var(--border-color);
    }
    .border-xs-top-4-solid {
        border-top: 4px solid var(--border-color);
    }
    .border-xs-bottom-4-solid {
        border-bottom: 4px solid var(--border-color);
    }
    .border-xs-left-4-solid {
        border-left: 4px solid var(--border-color);
    }
    .border-xs-right-4-solid {
        border-right: 4px solid var(--border-color);
    }
    .border-xs-blue-1-solid {
        border: 1px solid var(--blue-color);
    }
    .border-xs-blue-top-1-solid {
        border-top: 1px solid var(--blue-color);
    }
    .border-xs-blue-bottom-1-solid {
        border-bottom: 1px solid var(--blue-color);
    }
    .border-xs-blue-left-1-solid {
        border-left: 1px solid var(--blue-color);
    }
    .border-xs-blue-right-1-solid {
        border-right: 1px solid var(--blue-color);
    }
    .border-xs-red-1-solid {
        border: 1px solid var(--red-color);
    }
    .border-xs-red-top-1-solid {
        border-top: 1px solid var(--red-color);
    }
    .border-xs-red-bottom-1-solid {
        border-bottom: 1px solid var(--red-color);
    }
    .border-xs-red-left-1-solid {
        border-left: 1px solid var(--red-color);
    }
    .border-xs-red-right-1-solid {
        border-right: 1px solid var(--red-color);
    }
    .border-xs-green-1-solid {
        border: 1px solid var(--green-color);
    }
    .border-xs-green-top-1-solid {
        border-top: 1px solid var(--green-color);
    }
    .border-xs-green-bottom-1-solid {
        border-bottom: 1px solid var(--green-color);
    }
    .border-xs-green-left-1-solid {
        border-left: 1px solid var(--green-color);
    }
    .border-xs-green-right-1-solid {
        border-right: 1px solid var(--green-color);
    }
    .needless-sub-page-menu {
        display: block !important;
    }

    /*============  TRACKING DETAILS  ============*/

    #orderProgressbar li {
        font-size: 10px;
    }

    .order-progress-track {
        padding: 0;
    }

    /*============  TRACKING DETAILS  ============*/

    /*============  My Orders  ============*/
    .order-card-icon {
        font-size: 36px;
    }

    .order-card-text {
        height: 45px;
        font-size: 14px;
    }
    /*============  My Orders  ============*/
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .f-sm-8 {
        font-size: 8px !important;
    }
    .f-sm-10 {
        font-size: 10px !important;
    }
    .f-sm-12 {
        font-size: 12px !important;
    }
    .f-sm-14 {
        font-size: 14px !important;
    }
    .f-sm-16 {
        font-size: 16px !important;
    }
    .f-sm-18 {
        font-size: 18px !important;
    }
    .f-sm-20 {
        font-size: 20px !important;
    }
    .f-sm-22 {
        font-size: 22px !important;
    }
    .f-sm-24 {
        font-size: 24px !important;
    }
    .f-sm-26 {
        font-size: 26px !important;
    }
    .f-sm-28 {
        font-size: 28px !important;
    }
    .f-sm-30 {
        font-size: 30px !important;
    }
    .f-sm-32 {
        font-size: 32px !important;
    }
    .f-sm-34 {
        font-size: 34px !important;
    }
    .f-sm-36 {
        font-size: 36px !important;
    }
    .needless-sub-page-menu {
        display: block !important;
    }

    /*============  My Orders  ============*/
    .order-card-icon {
        font-size: 32px;
    }

    .order-card-text {
        height: 45px;
        font-size: 14px;
    }
    /*============  My Orders  ============*/
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .f-md-8 {
        font-size: 8px !important;
    }
    .f-md-10 {
        font-size: 10px !important;
    }
    .f-md-12 {
        font-size: 12px !important;
    }
    .f-md-14 {
        font-size: 14px !important;
    }
    .f-md-16 {
        font-size: 16px !important;
    }
    .f-md-18 {
        font-size: 18px !important;
    }
    .f-md-20 {
        font-size: 20px !important;
    }
    .f-md-22 {
        font-size: 22px !important;
    }
    .f-md-24 {
        font-size: 24px !important;
    }
    .f-md-26 {
        font-size: 26px !important;
    }
    .f-md-28 {
        font-size: 28px !important;
    }
    .f-md-30 {
        font-size: 30px !important;
    }
    .f-md-32 {
        font-size: 32px !important;
    }
    .f-md-34 {
        font-size: 34px !important;
    }
    .f-md-36 {
        font-size: 36px !important;
    }
    .needless-sub-page-menu {
        display: block !important;
    }

    /*============  My Orders  ============*/
    .order-card-icon {
        font-size: 36px;
    }

    .order-card-text {
        height: 45px;
        font-size: 14px;
    }
    /*============  My Orders  ============*/
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .f-lg-8 {
        font-size: 8px !important;
    }
    .f-lg-10 {
        font-size: 10px !important;
    }
    .f-lg-12 {
        font-size: 12px !important;
    }
    .f-lg-14 {
        font-size: 14px !important;
    }
    .f-lg-16 {
        font-size: 16px !important;
    }
    .f-lg-18 {
        font-size: 18px !important;
    }
    .f-lg-20 {
        font-size: 20px !important;
    }
    .f-lg-22 {
        font-size: 22px !important;
    }
    .f-lg-24 {
        font-size: 24px !important;
    }
    .f-lg-26 {
        font-size: 26px !important;
    }
    .f-lg-28 {
        font-size: 28px !important;
    }
    .f-lg-30 {
        font-size: 30px !important;
    }
    .f-lg-32 {
        font-size: 32px !important;
    }
    .f-lg-34 {
        font-size: 34px !important;
    }
    .f-lg-36 {
        font-size: 36px !important;
    }
    .needless-sub-page-menu {
        display: block !important;
    }

    /*============  HEADER  ============*/
    .navbar .nav__item {
        margin-right: 12px !important;
    }

    .navbar-modules .btn__request {
        width: fit-content;
        padding: 0 5px;
    }
    /*============  HEADER  ============*/

    /*============  My Orders  ============*/
    .order-card-icon {
        font-size: 36px;
    }

    .order-card-text {
        height: 45px;
        font-size: 14px;
    }
    /*============  My Orders  ============*/
}
@media (min-width: 1200px) and (max-width: 1365px) {
    /*============  My Orders  ============*/
    .order-card-icon {
        font-size: 36px;
    }

    .order-card-text {
        height: 45px;
        font-size: 16px;
    }
    /*============  My Orders  ============*/
}
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    .needless-sub-page-menu {
        display: block !important;
    }
}
@media (min-width: 1366px) and (max-width: 1399px) {
    /*============  My Orders  ============*/
    .order-card-icon {
        font-size: 36px;
    }

    .order-card-text {
        font-size: 16px;
    }
    /*============  My Orders  ============*/
}
@media only screen and (min-width: 1400px) and (max-width: 1919px) {

}
@media only screen and (min-width: 1920px) and (max-width: 2499.5px) {

}
@media (min-width: 2500px) {

}
