:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --yellow-color: #FFB732;
    --gray-color: #707070;
    --red-color: #F95546;
    --light-gray: #8B8B8B;
    --fade-text: #DBDBDB;
    --table-gray: #E0E0E0;
    --form-span-gray: #646464;
    --button-gray: #D0D0D0;
    --transparent-color: transparent;
}

/*Colors*/
.black-color {color: var(--black-color);}
.red-text { color: var(--red-color);}

.bg-table-gray { background-color: var(--table-gray);}
.bg-black { background-color: var(--black-color);}
/*Colors*/

/*Fonts*/
@font-face {
    font-family: yu-gothic-light;
    src: url(../../fonts/yu-gothic/light.ttf);
}

@font-face {
    font-family: yu-gothic-reg;
    src: url(../../fonts/yu-gothic/regular.ttf);
}

@font-face {
    font-family: yu-gothic-medium;
    src: url(../../fonts/yu-gothic/semibold.ttf);
}

@font-face {
    font-family: yu-gothic-bold;
    src: url(../../fonts/yu-gothic/bold.ttf);
}

@font-face {
    font-family: meiryo;
    src: url(../../fonts/meiryo/meiryo.ttc);
}

.yu-gothic-light { font-family: yu-gothic-light;}
.yu-gothic-reg { font-family: yu-gothic-reg;}
.yu-gothic-medium { font-family: yu-gothic-medium;}
.yu-gothic-bold { font-family: yu-gothic-bold;}

.meiryo { font-family: meiryo;}

.f-14 { font-size: 14px;}
.f-16 { font-size: 16px;}
.f-18 { font-size: 18px;}
.f-22 { font-size: 22px;}
.f-24 { font-size: 24px;}
.f-28 { font-size: 28px;}
.f-32 { font-size: 32px;}
.f-36 { font-size: 36px;}
.f-40 { font-size: 40px;}
.f-76 { font-size: 76px;}

.lh-21 { line-height: 21px;}
.lh-24 { line-height: 24px;}
.lh-32 { line-height: 32px;}
.lh-43 { line-height: 43px;}

.fw-400 { font-weight: 400;}
.fw-500 { font-weight: 500;}
.fw-600 { font-weight: 600;}
/*Fonts*/

/*Dimensions*/
.w-33 { width: 33.33% !important;}

.h-48px { height: 48px;}

.h-fit { height: fit-content;}

.h-max { height: max-content;}

.m-50px {margin: 50px;}
.mt-50px {margin-top: 50px;}
.mb-50px {margin-bottom: 50px;}
.ml-50px {margin-left: 50px;}
.mr-50px {margin-right: 50px;}

.m-80px {margin: 80px;}
.mt-80px {margin-top: 80px;}
.mb-80px {margin-bottom: 80px;}
.ml-80px {margin-left: 80px;}
.mr-80px {margin-right: 80px;}

.pr-5px {padding-right: 5px !important;}
.px-80 { padding: 0 80px;}
/*Dimensions*/

/*Borders*/
.br-2 { border-radius: 2px;}
.br-4 { border-radius: 4px;}

.b-1-s { border: 1px solid var(--gray-color);}
.b-2-s { border: 2px solid var(--gray-color);}

.b-b-1-s { border-bottom: 1px solid var(--gray-color);}
.b-b-2-s { border-bottom: 2px solid var(--gray-color);}
/*Borders*/

/*Buttons*/
a, a:hover, a:active, a:focus, a:focus-within {
    color: inherit;
    text-decoration: none;
}

.cus-white-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black-color);
    min-width: 200px;
    min-height: 55px;
    font-size: 20px;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 2px;
    border: 3px solid var(--button-gray);
}

.c-btn {
    outline: none;
    box-shadow: none;
}

.c-btn:hover, .c-btn:active, .c-btn:focus, .c-btn:focus-within {
    outline: none;
    box-shadow: none;
}

.yellow-btn {
    color: var(--white-color);
    font-size: 14px;
    font-family: yu-gothic-reg;
    padding: 4px 12px;
    border-radius: 2px;
    background-color: var(--yellow-color);
}

.yellow-btn:hover, .yellow-btn:active, .yellow-btn:focus {
    color: var(--white-color);
}

.black-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    width: max-content;
    min-width: 200px;
    height: 47px;
    font-size: 16px;
    font-family: yu-gothic-reg;
    padding: 8px 14px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-image: url("../../images/components/black-btn.webp");
}

.black-btn:hover, .black-btn:active, .black-btn:focus {
    color: var(--white-color);
}

.white-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black-color);
    width: max-content;
    min-width: 200px;
    height: 47px;
    font-size: 16px;
    font-family: yu-gothic-reg;
    padding: 8px 14px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-image: url("../../images/components/white-btn.webp");
}

.white-btn:hover, .white-btn:active, .white-btn:focus {
    color: var(--black-color);
}
/*Buttons*/

/*Common Components*/
.px-0-section {
    padding: 100px 0;
}

.px-section-header {
    padding: 0 80px;
}

.object-fit-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.txt-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.txt-overflow-1 { -webkit-line-clamp: 1; /* number of lines to show */}

.txt-overflow-2 {-webkit-line-clamp: 2; /* number of lines to show */}

.custom-pagination .page-link {
    color: var(--black-color);
    background-color: var(--white-color);
    border: 1px solid var(--light-gray);
}

.custom-pagination .page-link:hover,
.custom-pagination .page-link:active,
.custom-pagination .page-link:focus,
.custom-pagination .page-link:focus-within {
    outline: none;
    box-shadow: none;
}

.custom-pagination .page-item.active .page-link {
    color: var(--white-color);
    background-color: var(--yellow-color);
    border-color: var(--yellow-color);
}

.custom-pagination .page-item.disabled .page-link {
    color: var(--light-gray);
    background-color: var(--white-color);
    border-color: var(--light-gray);
}
/*Common Components*/

/*Header*/
.header {
    position: -ms-device-fixed;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 14px 0;
    /*transition: all ease-in-out 0.5s;*/
}

.header .navbar {
    padding-left: 80px;
    padding-right: 80px;
    background-color: var(--transparent-color);
}

.other-page-header {
    background: transparent radial-gradient(closest-side at 50% 50%, #394955 0%, #121212 100%) 0% 0% no-repeat padding-box !important;
}

.header .navbar .logo {
    width: auto;
    height: 40px;
}

.header-scroll {
    background: transparent radial-gradient(closest-side at 50% 50%, #394955 0%, #121212 100%) 0% 0% no-repeat padding-box !important;
}

.header-scroll .navbar .navbar-nav .nav-link {
    color: var(--white-color) !important;
}

.navbar .navbar-nav .nav-link {
    color: var(--white-color) !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    font-family: yu-gothic-reg;
}

.navbar .navbar-nav .nav-item {
    margin-right: 40px;
}

.navbar .navbar-nav .nav-item:last-child {
    margin-right: 0 !important;
}
/*Header*/

/*Top Content*/
.top-content {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.other-top-content {
    height: 50px;
    overflow: initial !important;
}

.main-top {
    width: 100vw;
    height: 100vh;
    /*margin-top: -56px;*/
    overflow: hidden;
}

.main-top .video-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

/*Scroll Indicators*/
.scroll-indicators {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
}

.scroll-indicators .scroll-indicate-triangle svg {
    width: 50px;
    height: 50px;
}

.scroll-indicators .scroll-indicate-arrow svg {
    width: 100px;
    height: auto;
}

.scroll-indicators .scroll-rotate {
    display: flex;
    align-items: center;
    transform: rotate(90deg);
}

.scroll-indicators .scroll-rotate span {
    letter-spacing: 1px;
}
/*Scroll Indicators*/
/*Top Content*/

/*Home Section*/
.home-section {
    padding: 100px 80px;
}

.section-header h1 {
    position: relative;
    color: var(--fade-text);
    font-size: 100px;
    /*font-family: meiryo;*/
    font-weight: bold;
    font-style: italic;
}

.section-header h1 span {
    position: absolute;
    top: 35px;
    left: 0;
    color: var(--black-color);
    font-size: 40px;
    font-style: normal;

}
/*Home Section*/

/*Italic Card*/
.italic-card .italic-card-inner {
    border-radius: 2px;
    transform: skew(-10deg);
}

.italic-card .italic-card-inner .row {
    position: relative;
    z-index: 3;
    transform: skew(10deg) !important;
}
/*Italic Card*/


/*News and Topics*/
.news-and-topics {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 50%;
    background-image: url("../../images/home/news-topics-bg.png");
}

/*News Card*/
.news-card {
    padding: 0 40px;
}

.news-card .news-card-inner {
    position: relative;
    padding: 80px 60px;
    overflow: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
}

.news-card .news-card-inner .row {
    opacity:0;
    visibility: hidden;
    transition: visibility 0.3s linear,opacity 0.3s linear;
}

.news-card .news-card-inner.news-card-visible .row {
    opacity: 1;
    visibility: visible;
}

.news-card .news-card-inner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity:0;
    visibility: hidden;
    background-color: rgba(0,0,0,0.6);
    transition: visibility 0.3s linear,opacity 0.3s linear;
}

.news-card .news-card-inner.news-card-visible::after {
    opacity: 1;
    visibility: visible;
}

.news-card .news-card-inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    -o-background-size: 100% 100%;
    transform: scale(1.4) skew(10deg) !important;
}

.news-card .news-card-inner .news-card-text {
    color: var(--white-color);
    min-height: 128px;
    max-height: 128px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.news-card .news-card-date {
    margin-left: -25px;
}
/*News Card*/
/*News and Topics*/

/*OJJ Rescue*/
.ojj-rescue {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("../../images/home/ojj-rescue_top.webp");
}

.ojj-rescue-card .ojj-rescue-card-inner {
    width: 100%;
    padding: 50px 80px;
    border-radius: 2px;
    background-color: rgba(255,255,255, 0.7);
}

.ojj-rescue-card .ojj-rescue-card-title {
    color: var(--black-color);
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
    text-align: center;
}

.ojj-rescue-card .ojj-rescue-card-text {
    color: var(--black-color);
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    line-height: 1.8;
}
/*OJJ Rescue*/

/*Product Information*/
.product-information {
    padding: 100px 0;
}

.product-information .section-header {
    padding: 0 15px;
}

.product-info-content {
    /*display: flex;*/
    /*justify-content: end;*/
    padding: 15px 0;
}

.product-info-content .product-info-video-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.product-info-content .product-info-video-content .product-info-video {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.product-info-content .product-info-content-inner {
    padding: 100px 15px 100px 15px;
    /*background: transparent radial-gradient(closest-side at 50% 50%, #394955 0%, #121212 100%) 0% 0% no-repeat padding-box;*/
}

.product-info-content .product-info-content-inner::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    z-index: 2;
    background: transparent radial-gradient(closest-side at 50% 50%, #394955 0%, #121212 100%) 0% 0% no-repeat padding-box;
}

.product-info-content .product-info-content-inner .product-info-content-text {
    position: relative;
    color: var(--white-color);
    font-size: 60px;
    z-index: 3;
    /*font-family: meiryo;*/
    font-weight: bold;
    text-align: right;
}

.product-info-content .product-info-content-inner .product-info-content-text-japan {
    position: relative;
    color: var(--white-color);
    font-size: 40px;
    z-index: 3;
    font-family: yu-gothic-reg;
    font-weight: bold;
    text-align: right;
}

.product-info-content .product-info-content-inner a {
    position: relative;
    z-index: 3;
}
/*Product Information*/

/*Maintenance*/
.maintenance {
    position: relative;
    overflow: hidden;
}

.maintenance .maintenance-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    object-fit: cover;
    object-position: top right;
    transform: scale(1);
}

.maintenance .maintenance-content {
    padding-left: 15px;
    padding-bottom: 100px;
}

.maintenance .maintenance-content::after {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 96%;
    height: 100%;
    z-index: 2;
    background-color: var(--white-color);
    transform: skew(-15deg);
}

.maintenance .maintenance-content .section-header {
    position: relative;
    z-index: 3;
}

.maintenance-content .maintenance-content-inner .maintenance-content-text {
    position: relative;
    color: var(--black-color);
    font-size: 60px;
    z-index: 3;
    /*font-family: meiryo;*/
    font-weight: bold;
}

.maintenance-content .maintenance-content-inner .maintenance-content-text-japan,
.maintenance-content .maintenance-content-inner .maintenance-japan-text {
    position: relative;
    color: var(--black-color);
    font-size: 40px;
    z-index: 3;
    font-family: yu-gothic-reg;
    font-weight: bold;
}

.maintenance-content .maintenance-content-inner a {
    position: relative;
    z-index: 3;
}
/*Maintenance*/

/*SNS*/
.sns .sns-content .sns-header-text {
    color: var(--black-color);
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

.sns .sns-content .sns-image-content img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}
/*SNS*/

/*Scroll Top Button*/
.scroll-top-btn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 150px;
    right: 40px;
    width: 56px;
    height: 56px;
    z-index: 999;
    border-radius: 50%;
    border: 2px solid var(--white-color);
    background-color: var(--black-color);
}

.scroll-top-btn svg {
    fill: var(--white-color);
    width: 32px;
    height: 32px;
}
/*Scroll Top Button*/

/*Footer*/
.footer {
    padding: 80px 0 50px 0 !important;
    background: transparent radial-gradient(closest-side at 50% 50%, #394955 0%, #121212 100%) 0% 0% no-repeat padding-box;
}

.footer .footer-logo img {
    height: 60px;
}

.footer .footer-text-content h6 {
    color: var(--white-color);
    font-family: yu-gothic-reg;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
}

.footer .footer-link-list li {
    margin-bottom: 15px;
}

.footer .footer-link-list li a {
    display: flex;
    color: var(--white-color);
    font-size: 16px;
    font-family: yu-gothic-reg;
    font-weight: 600;
    line-height: 21px;
}

.footer .footer-link-list li a.social-link.facebook span svg {
    width: 20px;
    height: 20px;
}

.footer .footer-link-list li a span svg {
    fill: var(--light-gray);
    width: 18px;
    height: 18px;
}

.footer .copyright-text {
    color: var(--white-color);
    font-size: 14px;
    font-family: yu-gothic-reg;
    font-weight: 400;
    line-height: 24px;
}
/*Footer*/

/*Overview nad Organization*/
.composition-content-text h5 {
    display: flex;
    /*align-items: center;*/
}

.composition-content-text .composition-content-text-dash {
    display: block;
    align-self: center;
    width: 40px;
    margin-right: 10px;
    border-bottom: 3px solid var(--gray-color);
}

.composition-content-text h5.composition-content-text-2nd {
    padding-left: 50px;
}

.composition-content-text h5.composition-content-text-2nd span {
    display: block;
    /*width: 60px;*/
    height: 17px;
    margin-top: -1px;
    /*overflow: hidden;*/
    /*border-radius: 50%;*/
}

.composition-content-text h5.composition-content-text-2nd span img {
    /*width: 100%;*/
    height: 100%;
    /*object-fit: cover;*/
    /*object-position: center center;*/
}
/*Overview nad Organization*/

/*Forms*/
.cus-input {
    min-height: 47px;
    font-size: 18px;
    border: 1px solid var(--gray-color);
}

.cus-input::placeholder,
.cus-input:placeholder-shown,
.cus-input:-moz-placeholder,
.cus-input::-webkit-input-placeholder {
    font-size: 18px;
}

.cus-input:hover, .cus-input:active, .cus-input:focus, .cus-input:focus-within {
    border: 1px solid var(--gray-color);
    outline: none;
    box-shadow: none;
}

/*Custom Radio*/
.cus-radio {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
    font-family: yu-gothic-reg;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.cus-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.cus-radio-checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid var(--gray-color);
    background-color: var(--white-color);
}

/* On mouse-over, add a grey background color */
.cus-radio:hover input ~ .cus-radio-checkmark {
    background-color: var(--white-color);
}

/* When the radio button is checked, add a blue background */
.cus-radio input:checked ~ .cus-radio-checkmark {
    background-color: var(--white-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.cus-radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.cus-radio input:checked ~ .cus-radio-checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.cus-radio .cus-radio-checkmark:after {
    top: 2.1px;
    left: 2.1px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--form-span-gray);
}
/*Custom Radio*/

/*Custom Checkbox*/
.cus-checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
    font-family: yu-gothic-reg;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.cus-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.cus-checkbox-checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 2px;
    border: 1px solid var(--gray-color);
    background-color: var(--white-color);
}

/* On mouse-over, add a grey background color */
.cus-checkbox:hover input ~ .cus-checkbox-checkmark {
    background-color: var(--white-color);
}

/* When the checkbox is checked, add a blue background */
.cus-checkbox input:checked ~ .cus-checkbox-checkmark {
    background-color: var(--form-span-gray);
}

/* Create the checkmark/indicator (hidden when not checked) */
.cus-checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.cus-checkbox input:checked ~ .cus-checkbox-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cus-checkbox .cus-checkbox-checkmark:after {
    top: 0;
    left: 5px;
    width: 6px;
    height: 12px;
    border: solid var(--white-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*Custom Checkbox*/
/*Forms*/

/*Contact Form*/
.contact-form .col-form-label {
    font-size: 18px;
    font-family: yu-gothic-reg;
    font-weight: 600;
}

.contact-form .col-form-label span {
    color: var(--white-color);
    font-size: 12px;
    font-family: meiryo;
    padding: 3px 6px;
    margin-left: 10px;
    border-radius: 4px;
    line-height: 1;
    background-color: var(--form-span-gray);
}
/*Contact Form*/

/*Rescue Boat*/
.rescue-boat-content {
    padding: 160px 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("../../images/rescue-boat/rescue-boat.webp");
}

.rescue-boat-content .rescue-boat-text h4 {
    text-align: center;
}

.rescue-boat-content .rescue-boat-text h6 {
    text-align: center;
    text-justify: auto;
    line-height: 32px;
}
/*Rescue Boat*/

/*OJJ Boat Point*/
.boat-point-wide-img-content {
    padding: 160px 15px !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("../../images/rescue-boat/OJJBoat_Point_00.webp");
}

.boat-point-double-side-img img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.boat-point-double-side-bg-gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
    background: transparent radial-gradient(closest-side at 50% 50%, #394955 0%, #121212 100%) 0% 0% no-repeat padding-box;
}

.boat-point-double-side-bg-gradient .fade-count {
    position: absolute;
    top: -114px;
    left: -50px;
    color: var(--white-color);
    font-size: 148px;
    font-weight: bold;
    font-style: italic;
    opacity: 0.2;
}
/*OJJ Boat Point*/

/*OJJ Rescue Video Content*/
.ojj-rescue-video-section {
    border-bottom: 2px solid var(--white-color);
    background: transparent radial-gradient(closest-side at 50% 50%, #394955 0%, #121212 100%) 0% 0% no-repeat padding-box;
}

.ojj-rescue-video-content .ojj-rescue-video-content-box {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    transform: skew(-15deg);
}

.ojj-rescue-video-content .ojj-rescue-video-content-box img {
    position: absolute;
    top: 0;
    left: -100px;
    z-index: 1;
    width: 200%;
    height: 100%;
    object-fit: cover !important;
    object-position: center center !important;
    transform: skew(15deg);
}

.ojj-rescue-video-content-text {
    padding-left: 20px;
    border-left: 2px solid var(--gray-color);
}

.ojj-rescue-video-content-text p {
    min-height: 81px;
}

.ojj-rescue-video-play-button {
    position: absolute;
    z-index: 2;
    bottom: 25px;
    left: 25px;
}

.ojj-rescue-video-play-button svg {
    width: 50px;
    height: 50px;
    transform: skew(15deg) rotate(30deg);
}

.ojj-rescue-video-content-text.minus-top-content {
    padding-top: 95px;
    padding-bottom: 1rem;
}
/*OJJ Rescue Video Content*/

/*Durability Test Content*/
.durability-test-content .durability-test-content-img img {
    width: 100%;
    max-height: 420px;
    object-fit: cover !important;
    object-position: center center;
}

.durability-test-text-content.content-1 {
    padding-left: 0;
}

.durability-test-text-content.content-2 {
    padding-right: 0;
}

.durability-test-text-content .durability-test-text {
    padding: 0 80px;
}

.durability-test-content .first-border span,
.durability-test-content .second-border span {
    display: block;
}

.durability-test-content .first-border {
    padding-right: 80px;
}

.durability-test-content .second-border {
    padding-left: 80px;
}

.durability-test-content-img-box-content {
    padding: 0 80px;
}

.durability-test-content-img-box-content .durability-test-content-img-box img {
    width: 100%;
    max-height: 240px;
    object-position: center center;
    object-fit: cover;
}

.durability-test-content-table {
    padding: 0 80px 0 95px;
}

.durability-test-content-table .table thead th {
    border-bottom: 1px solid var(--black-color);
}

.durability-test-content-table .table-bordered td, .table-bordered th {
    text-align: center;
    border: 1px solid var(--black-color);
}

.durability-test-content .second-content-small-img-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center center;
}
/*Durability Test Content*/

/*Site Map*/
.site-map-content .site-map-content-title {
    display: flex;
    align-items: center;
}

.site-map-content .site-map-content-title span svg {
    width: 24px;
    height: 24px;
    fill: var(--red-color);
    transform: rotate(90deg);
}
/*Site Map*/

/*Popup Video Content*/
.popup-video-content {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--black-color);
}

.popup-video-content .popup-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/*Popup Video Content*/

/*Product Information*/
.product-info-section {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-image: url("../../images/product-information/product-info-top-bg.webp");
}

.product-info-table.table-bordered td, .table-bordered th {
    text-align: center;
    border: 1px solid var(--light-gray);
}

.main-product-view-slider .slick-list {
    height: 65vh;
}

.main-product-view-slider .slick-track, .main-product-view-slider .image-container {
    height: 100%;
}

.main-product-view-slider .image-container {
    width: 100vw;
}

.main-product-view-slider .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.product-list-slider .slick-track {
    display: flex;
    width: auto !important;
}
.product-list-slider .slick-prev:before, .product-list-slider .slick-next:before {
    color: var(--gray-color);
    font-size: 32px;
}

.product-list-slider .slick-prev, .product-list-slider .slick-next {
    width: 32px;
    height: 32px;
    z-index: 1;
}

.product-list-slider .slick-prev {
    left: 25px;
}

.product-list-slider .slick-next {
    right: 25px;
}

.product-list-slider .image-container {
    cursor: pointer;
    flex-direction: column;
    flex-basis: 140px;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 140px;
    min-width: 140px;
    max-height: 80px;
    min-height: 80px;
    border-radius: 2px;
    margin-right: 10px;
}

.product-list-slider .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
/*Product Information*/

/*Maintenance*/
.maintenance-banner {
    height: 70vh;
}

.maintenance-card {
    position: relative;
    min-height: 420px;
    margin-bottom: 100px;
    border: 1px solid var(--white-color);
}

.maintenance-card:last-child {
    margin-bottom: 0;
}

.maintenance-card img {
    position: absolute;
    top: 0;
    right: 15px;
    width: calc(70% - 15px);
    height: 100%;
    z-index: 1;
    object-fit: cover;
    object-position: center right;
}

.maintenance-card .maintenance-card-content {
    position: relative;
    width: 50%;
    height: 100%;
    z-index: 2;
    border: 1px solid var(--white-color);
    background-color: var(--white-color);
    -webkit-clip-path: polygon(0 0, 100% 0, 60% 102%, 0 102%, 0 46%);
    clip-path: polygon(0 0, 100% 0, 60% 102%, 0 102%, 0 46%);
}

.maintenance-card .maintenance-card-text {
    padding-right: 40%;
}

.maintenance-card p.maintenance-card-text {
    padding: 30px 40% 60px 0;
}

/*Q & A*/
.q-n-a-card {
    border: none;
    margin-bottom: 25px;
}

.q-n-a-card .q-btn {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 40px;
}

.q-n-a-card .card-header {
    padding: 0 0 10px 0;
    margin-bottom: -2px !important;
    border-bottom: 2px solid var(--black-color);
    background-color: var(--white-color);
}

.q-n-a-card .q-btn {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 40px;
}

.q-n-a-card .q-btn .q-block {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    width: 36px;
    height: 36px;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 1;
    margin-right: 15px;
    padding-bottom: 4px;
    border-radius: 2px;
    background-color: var(--black-color);
}

.q-n-a-card .q-btn .q-btn-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6px;
    right: 0;
    width: 36px;
    height: 36px;
    transition: all ease 0.5s;
}

.q-n-a-card .q-btn[aria-expanded="true"] .q-btn-arrow{
    transform: rotate(-180deg);
}

.q-n-a-card .q-btn .q-btn-arrow svg {
    fill: var(--black-color);
    width: 24px;
    height: 24px;
}

.q-n-a-card .card-body {
    display: flex;
    padding: 20px 0;
}

.q-n-a-card .card-body .a-block {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--red-color);
    width: 27px;
    height: 27px;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 1;
    margin-right: 25px;
    padding-bottom: 4px;
}
/*Q & A*/

/*Maintenance*/

/*Pre Loader*/
#preloader {
    position: fixed;
    z-index: 10002;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--white-color);
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: var(--black-color);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: var(--yellow-color);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: var(--gray-color);
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*Pre Loader*/
