@media screen and (max-width: 319px) {
    * {
        display: none !important;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff !important;
    }
    body:before {
        content: "Try in Big Screen!";
        color: #1d2124;
        font-weight: 600;
    }
}
@media (max-height: 575px) and (max-width: 1200px) and (orientation: landscape) {
    html {
        min-height: -webkit-fill-available;
    }
    body {
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }

}
@media screen and (min-width: 320px) and (max-width: 575px) {
    html {
        min-height: -webkit-fill-available;
    }
    body {
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }
    .f-xs-8 {
        font-size: 8px !important;
    }
    .f-xs-10 {
        font-size: 10px !important;
    }
    .f-xs-12 {
        font-size: 12px !important;
    }
    .f-xs-14 {
        font-size: 14px !important;
    }
    .f-xs-16 {
        font-size: 16px !important;
    }
    .f-xs-18 {
        font-size: 18px !important;
    }
    .f-xs-20 {
        font-size: 20px !important;
    }
    .f-xs-22 {
        font-size: 22px !important;
    }
    .f-xs-24 {
        font-size: 24px !important;
    }
    .f-xs-26 {
        font-size: 26px !important;
    }
    .f-xs-28 {
        font-size: 28px !important;
    }
    .f-xs-30 {
        font-size: 30px !important;
    }
    .f-xs-32 {
        font-size: 32px !important;
    }
    .f-xs-34 {
        font-size: 34px !important;
    }
    .f-xs-36 {
        font-size: 36px !important;
    }
    .border-xs-0 {
        border-radius: 0 !important;
    }
    .border-xs-4 {
        border-radius: 4px;
    }
    .border-xs-top-left-4 {
        border-radius: 4px 0 0 0;
    }
    .border-xs-top-right-4 {
        border-radius: 0 4px 0 0;
    }
    .border-xs-bottom-left-4 {
        border-radius: 0 0 0 4px;
    }
    .border-xs-bottom-right-4 {
        border-radius: 0 0 4px 0;
    }
    .border-xs-8 {
        border-radius: 8px;
    }
    .border-xs-top-left-8 {
        border-radius: 8px 0 0 0;
    }
    .border-xs-top-right-8 {
        border-radius: 0 8px 0 0;
    }
    .border-xs-bottom-left-8 {
        border-radius: 0 0 0 8px;
    }
    .border-xs-bottom-right-8 {
        border-radius: 0 0 8px 0;
    }
    .border-xs-12 {
        border-radius: 12px;
    }
    .border-xs-top-left-12 {
        border-radius: 12px 0 0 0;
    }
    .border-xs-top-right-12 {
        border-radius: 0 12px 0 0;
    }
    .border-xs-bottom-left-12 {
        border-radius: 0 0 0 12px;
    }
    .border-xs-bottom-right-12 {
        border-radius: 0 0 12px 0;
    }
    .border-xs-circle {
        border-radius: 50%;
    }
    .border-xs-1-solid {
        border: 1px solid var(--border-color);
    }
    .border-xs-top-1-solid {
        border-top: 1px solid var(--border-color);
    }
    .border-xs-bottom-1-solid {
        border-bottom: 1px solid var(--border-color);
    }
    .border-xs-left-1-solid {
        border-left: 1px solid var(--border-color);
    }
    .border-xs-right-1-solid {
        border-right: 1px solid var(--border-color);
    }
    .border-xs-2-solid {
        border: 2px solid var(--border-color);
    }
    .border-xs-top-2-solid {
        border-top: 2px solid var(--border-color);
    }
    .border-xs-bottom-2-solid {
        border-bottom: 2px solid var(--border-color);
    }
    .border-xs-left-2-solid {
        border-left: 2px solid var(--border-color);
    }
    .border-xs-right-2-solid {
        border-right: 2px solid var(--border-color);
    }
    .border-xs-4-solid {
        border: 4px solid var(--border-color);
    }
    .border-xs-top-4-solid {
        border-top: 4px solid var(--border-color);
    }
    .border-xs-bottom-4-solid {
        border-bottom: 4px solid var(--border-color);
    }
    .border-xs-left-4-solid {
        border-left: 4px solid var(--border-color);
    }
    .border-xs-right-4-solid {
        border-right: 4px solid var(--border-color);
    }

    .w-100-xs { width: 100% !important;}

    .mt-xs-40px { margin-top: 40px !important;}

    /*Header*/
    .header {
        position: relative;
        top: unset;
        width: 100%;
        z-index: 1000;
        padding: 0;
        background: transparent radial-gradient(closest-side at 50% 50%, #394955 0%, #121212 100%) 0% 0% no-repeat padding-box !important;
    }

    .header .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    header .navbar .navbar-toggler {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        padding: 0 !important;
        border: 1px solid var(--white-color);
    }

    .header .navbar .navbar-toggler svg {
        fill: var(--white-color);
        width: 15px;
        height: 15px;
    }

    .header .navbar .logo {
        height: 30px;
    }

    .navbar .navbar-nav .nav-link {
        color: var(--white-color) !important;
    }
    /*Header*/

    /*Home*/
    .main-top {
        height: auto;
    }

    .main-top .video-wrapper {
        position: relative;
    }


    .home-section {
        padding: 40px 0 40px 0;
    }

    .section-header h1 {
        font-size: 32px;
    }

    .section-header h1 span {
        top: 10px;
        font-size: 18px;
    }

    .news-card .news-card-inner {
        padding: 50px 15px;
    }

    .news-card .news-card-inner .news-card-text {
        font-size: 16px;
    }

    .ojj-rescue-card .ojj-rescue-card-inner {
        padding: 30px 15px;
    }

    .ojj-rescue-card .ojj-rescue-card-title {
        font-size: 22px;
    }

    .ojj-rescue-card .ojj-rescue-card-text {
        font-size: 14px;
    }

    .scroll-indicators {
        bottom: 38px;
    }

    .scroll-indicators .scroll-indicate-triangle svg {
        width: 20px;
        height: 20px;
    }

    .scroll-indicators .scroll-indicate-arrow svg {
        width: 20px;
        height: auto;
    }

    .maintenance .maintenance-img {
        right: -50px;
        width: 80%;
    }

    /*Product Information*/
    .product-information .section-header {
        padding: 0 15px;
    }

    .product-info-content .product-info-content-inner {
        padding: 10px 15px;
    }

    .product-info-content .product-info-content-inner .product-info-content-text {
        font-size: 16px;
    }

    .product-info-content .product-info-content-inner .product-info-content-text-japan {
        font-size: 14px;
    }

    .white-btn, .black-btn {
        min-width: 100px;
        height: auto;
        font-size: 12px;
        padding: 6px 12px;
    }

    .yellow-btn {
        font-size: 12px;
    }

    .product-info-content .product-info-content-inner::after {
        width: 41%;
    }
    /*Product Information*/

    .maintenance {
        /*background: unset;*/
    }

    .maintenance .maintenance-content {
        padding-left: 15px;
        padding-bottom: 15px;
    }

    .maintenance-content .maintenance-content-inner .maintenance-content-text {
        font-size: 26px;
    }

    .maintenance-content .maintenance-content-inner .maintenance-content-text-japan, .maintenance-content .maintenance-content-inner .maintenance-japan-text {
        font-size: 16px;
    }

    .product-information {
        padding: 50px 0;
    }

    .maintenance .maintenance-content::after {
        /*left: 0;*/
        /*width: 100%;*/
        /*transform: skew(0);*/
    }

    .sns .sns-content .sns-header-text {
        font-size: 24px;
    }
    /*Home*/

    /*Popup Video*/
    .popup-video-content {
        height: calc(100vh - calc(100vh - 100%));
        min-height: -webkit-fill-available;
    }
    /*Popup Video*/

    /*Footer*/
    .footer {
        padding: 80px 15px 50px 15px;
    }

    .footer .footer-logo img {
        width: 100%;
        height: auto;
    }
    /*Footer*/

    /*Rescue Boat*/
    .durability-test-text-content.content-1 {
        padding-left: 15px;
    }

    .durability-test-text-content.content-2 {
        padding-right: 15px;
    }

    .ojj-rescue-video-content .ojj-rescue-video-content-box {
        width: 70%;
        height: 300px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .ojj-rescue-video-content {
        padding: 0 15px !important;
    }

    .ojj-rescue-video-play-button svg {
        width: 32px;
        height: 32px;
    }

    .ojj-rescue-video-play-button {
        bottom: 10px;
        left: 10px;
    }

    .ojj-rescue-video-content-text {
        width: 80% !important;
        margin-left: 10%;
        padding: 40px 0 0 20px !important;
    }

    .f-18 {
        font-size: 14px;
    }

    .f-24 {
        font-size: 16px;
    }

    .f-32 {
        font-size: 18px;
    }

    .f-40 {
        font-size: 24px;
    }

    .f-76 {
        font-size: 36px;
    }

    .px-0-section {
        padding: 50px 0;
    }

    .px-section-header {
        padding: 0 15px;
    }

    .rescue-boat-content, .boat-point-wide-img-content, .boat-point-double-side-bg-gradient {
        padding: 80px 15px;
    }

    .boat-point-double-side-bg-gradient .fade-count {
        top: -70px;
        left: -6px;
        font-size: 100px;
    }

    .durability-test-text-content .durability-test-text, .durability-test-content-img-box-content {
        padding: 0;
    }

    .durability-test-content-table {
        padding: 0 15px;
    }

    .scroll-top-btn {
        right: 25px;
        width: 36px;
        height: 36px;
    }

    .scroll-top-btn svg {
        width: 20px;
        height: 20px;
    }
    /*Rescue Boat*/

    /*News*/
    .f-14 {
        font-size: 12px;
    }

    .f-36 {
        font-size: 20px;
    }

    .custom-pagination .page-link {
        font-size: 12px;
    }
    /*News*/

    /*Product Information*/
    .px-80 {
        padding: 0 15px;
    }

    .f-22 {
        font-size: 20px;
    }

    .product-list-slider .image-container {
        width: 135px !important;
    }

    .product-info-table.table-bordered td, .table-bordered th {
        min-width: 175px;
    }

    .cus-white-btn {
        font-size: 16px;
    }

    .product-list-slider .slick-prev:before, .product-list-slider .slick-next:before {
        color: var(--black-color);
    }

    .main-product-view-slider .slick-list {
        height: auto;
    }

    .main-product-view-slider .image-container img {
        height: auto;
    }
    /*Product Information*/

    /*Maintenance*/
    .maintenance-banner {
        height: auto;
    }

    .maintenance-card img {
        position: relative;
        top: unset;
        right: unset;
        width: 100%;
        height: 250px;
        z-index: unset;
        object-fit: cover;
        object-position: center center;
    }

    .maintenance-card .maintenance-card-content {
        position: relative;
        width: 100%;
        height: auto;
        z-index: unset;
        margin-top: 20px;
        border: 1px solid var(--white-color);
        background-color: var(--white-color);
        -webkit-clip-path: unset;
        clip-path: unset;
    }

    .maintenance-card p.maintenance-card-text {
        padding: 0;
    }

    .maintenance-card {
        margin-bottom: 40px;
    }

    .q-n-a-card .q-btn {
        padding-right: 30px;
    }

    .q-n-a-card .q-btn .q-block {
        width: 30px;
        min-width: 30px;
        height: 30px;
        min-height: 30px;
        font-size: 20px;
        margin-right: 10px;
    }

    .q-n-a-card .card-body .a-block {
        width: 30px;
        min-width: 30px;
        height: 30px;
        min-height: 30px;
        font-size: 24px;
        margin-right: 10px;
    }

    .q-n-a-card .q-btn .q-btn-arrow {
        top: 2px;
        right: 0;
        width: 26px;
        min-width: 26px;
        height: 26px;
        min-height: 26px;
    }
    /*Maintenance*/

    /*Overview Organization*/
    .f-28 {
        font-size: 22px;
    }

    .composition-content-text h5.composition-content-text-2nd span {
        height: 13px;
        margin-top: -1px;
    }
    /*Overview Organization*/

    /*Contact Us*/
    .contact-form .col-form-label {
        font-size: 14px;
    }

    .contact-form .col-form-label span {
        padding: 2px 6px;
    }

    .cus-input {
        min-height: 36px;
        font-size: 16px;
    }

    .cus-radio {
        font-size: 14px;
    }

    .cus-checkbox {
        font-size: 14px;
    }
    /*Contact Us*/

}

@media (min-width: 576px) {
    .mxw-container { max-width: 540px; margin: 0 auto;}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .f-sm-8 {
        font-size: 8px !important;
    }
    .f-sm-10 {
        font-size: 10px !important;
    }
    .f-sm-12 {
        font-size: 12px !important;
    }
    .f-sm-14 {
        font-size: 14px !important;
    }
    .f-sm-16 {
        font-size: 16px !important;
    }
    .f-sm-18 {
        font-size: 18px !important;
    }
    .f-sm-20 {
        font-size: 20px !important;
    }
    .f-sm-22 {
        font-size: 22px !important;
    }
    .f-sm-24 {
        font-size: 24px !important;
    }
    .f-sm-26 {
        font-size: 26px !important;
    }
    .f-sm-28 {
        font-size: 28px !important;
    }
    .f-sm-30 {
        font-size: 30px !important;
    }
    .f-sm-32 {
        font-size: 32px !important;
    }
    .f-sm-34 {
        font-size: 34px !important;
    }
    .f-sm-36 {
        font-size: 36px !important;
    }

    .w-100-sm { width: 100% !important;}

    .mt-sm-40px { margin-top: 40px !important;}

    /*Header*/
    .header {
        position: relative;
        top: unset;
        width: 100%;
        z-index: 1000;
        padding: 0;
        background: transparent radial-gradient(closest-side at 50% 50%, #394955 0%, #121212 100%) 0% 0% no-repeat padding-box !important;
    }

    .header .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    header .navbar .navbar-toggler {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        padding: 0 !important;
        border: 1px solid var(--white-color);
    }

    .header .navbar .navbar-toggler svg {
        fill: var(--white-color);
        width: 15px;
        height: 15px;
    }

    .header .navbar .logo {
        height: 30px;
    }

    .navbar .navbar-nav .nav-link {
        color: var(--white-color) !important;
    }
    /*Header*/

    /*Home*/
    .main-top {
        height: auto;
    }

    .main-top .main-top-video {
        position: relative;
    }

    .home-section {
        padding: 40px 0 40px 0;
    }

    .section-header h1 {
        font-size: 40px;
    }

    .section-header h1 span {
        top: 12px;
        font-size: 20px;
    }

    .news-card .news-card-inner {
        padding: 50px 15px;
    }

    .news-card .news-card-inner .news-card-text {
        font-size: 16px;
    }

    .ojj-rescue-card .ojj-rescue-card-inner {
        padding: 30px 15px;
    }

    .ojj-rescue-card .ojj-rescue-card-title {
        font-size: 22px;
    }

    .ojj-rescue-card .ojj-rescue-card-text {
        font-size: 14px;
    }

    .scroll-indicators {
        bottom: 38px;
    }

    .scroll-indicators .scroll-indicate-triangle svg {
        width: 20px;
        height: 20px;
    }

    .scroll-indicators .scroll-indicate-arrow svg {
        width: 20px;
        height: auto;
    }

    /*Product Information*/
    .product-information .section-header {
        padding: 0 15px;
    }

    .product-info-content .product-info-content-inner {
        padding: 50px 15px;
    }

    .product-info-content .product-info-content-inner .product-info-content-text {
        font-size: 26px;
    }

    .product-info-content .product-info-content-inner .product-info-content-text-japan {
        font-size: 14px;
    }

    .white-btn, .black-btn {
        min-width: 120px;
        height: auto;
        font-size: 14px;
        padding: 6px 12px;
    }

    .yellow-btn {
        font-size: 14px;
    }

    .product-info-content .product-info-content-inner::after {
        width: 32%;
    }
    /*Product Information*/

    .maintenance .maintenance-content {
        padding-left: 15px;
        padding-bottom: 40px;
    }

    .maintenance-content .maintenance-content-inner .maintenance-content-text {
        font-size: 26px;
    }

    .maintenance-content .maintenance-content-inner .maintenance-content-text-japan, .maintenance-content .maintenance-content-inner .maintenance-japan-text {
        font-size: 18px;
    }

    .product-information {
        padding: 50px 0;
    }

    .maintenance .maintenance-content::after {
        /*width: 50%;*/
    }

    .sns .sns-content .sns-header-text {
        font-size: 26px;
    }
    /*Home*/

    /*Popup Video*/
    .popup-video-content {
        height: calc(100vh - calc(100vh - 100%));
        min-height: -webkit-fill-available;
    }
    /*Popup Video*/

    /*Footer*/
    .footer {
        padding: 80px 15px 50px 15px;
    }

    .footer .footer-logo img {
        width: 50%;
        height: auto;
    }
    /*Footer*/

    /*Rescue Boat*/
    .durability-test-text-content.content-1 {
        padding-left: 15px;
    }

    .durability-test-text-content.content-2 {
        padding-right: 15px;
    }

    .ojj-rescue-video-content .ojj-rescue-video-content-box {
        width: 70%;
        height: 300px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .ojj-rescue-video-content {
        padding: 0 15px !important;
    }

    .ojj-rescue-video-play-button svg {
        width: 32px;
        height: 32px;
    }

    .ojj-rescue-video-play-button {
        bottom: 10px;
        left: 10px;
    }

    .ojj-rescue-video-content-text {
        width: 80% !important;
        margin-left: 10%;
        padding: 40px 0 0 20px !important;
    }

    .f-18 {
        font-size: 14px;
    }

    .f-24 {
        font-size: 16px;
    }

    .f-32 {
        font-size: 18px;
    }

    .f-40 {
        font-size: 24px;
    }

    .f-76 {
        font-size: 36px;
    }

    .px-0-section {
        padding: 50px 0;
    }

    .px-section-header {
        padding: 0 15px;
    }

    .rescue-boat-content, .boat-point-wide-img-content, .boat-point-double-side-bg-gradient {
        padding: 80px 15px;
    }

    .boat-point-double-side-bg-gradient .fade-count {
        top: -70px;
        left: -6px;
        font-size: 100px;
    }

    .durability-test-text-content .durability-test-text, .durability-test-content-img-box-content {
        padding: 0;
    }

    .durability-test-content-table {
        padding: 0 15px;
    }

    .scroll-top-btn {
        right: 25px;
        width: 36px;
        height: 36px;
    }

    .scroll-top-btn svg {
        width: 20px;
        height: 20px;
    }
    /*Rescue Boat*/

    /*News*/
    .f-14 {
        font-size: 14px;
    }

    .f-36 {
        font-size: 26px;
    }

    .custom-pagination .page-link {
        font-size: 14px;
    }
    /*News*/

    /*Product Information*/
    .px-80 {
        padding: 0 15px;
    }

    .f-22 {
        font-size: 20px;
    }

    .product-list-slider .image-container {
        width: 135px !important;
    }

    .product-info-table.table-bordered td, .table-bordered th {
        min-width: 175px;
    }

    .cus-white-btn {
        font-size: 16px;
    }

    .product-list-slider .slick-prev:before, .product-list-slider .slick-next:before {
        color: var(--black-color);
    }
    /*Product Information*/

    /*Maintenance*/
    .maintenance-banner {
        height: auto;
    }

    .maintenance-card img {
        position: relative;
        top: unset;
        right: unset;
        width: 100%;
        height: 250px;
        z-index: unset;
        object-fit: cover;
        object-position: center center;
    }

    .maintenance-card .maintenance-card-content {
        position: relative;
        width: 100%;
        height: auto;
        z-index: unset;
        margin-top: 20px;
        border: 1px solid var(--white-color);
        background-color: var(--white-color);
        -webkit-clip-path: unset;
        clip-path: unset;
    }

    .maintenance-card p.maintenance-card-text {
        padding: 0;
    }

    .maintenance-card {
        margin-bottom: 40px;
    }

    .q-n-a-card .q-btn {
        padding-right: 30px;
    }

    .q-n-a-card .q-btn .q-block {
        width: 30px;
        min-width: 30px;
        height: 30px;
        min-height: 30px;
        font-size: 20px;
        margin-right: 10px;
    }

    .q-n-a-card .card-body .a-block {
        width: 30px;
        min-width: 30px;
        height: 30px;
        min-height: 30px;
        font-size: 24px;
        margin-right: 10px;
    }

    .q-n-a-card .q-btn .q-btn-arrow {
        top: 2px;
        right: 0;
        width: 26px;
        min-width: 26px;
        height: 26px;
        min-height: 26px;
    }
    /*Maintenance*/

    /*Overview Organization*/
    .f-28 {
        font-size: 22px;
    }

    .composition-content-text h5.composition-content-text-2nd span {
        height: 13px;
        margin-top: -1px;
    }
    /*Overview Organization*/

    /*Contact Us*/
    .contact-form .col-form-label {
        font-size: 14px;
    }

    .contact-form .col-form-label span {
        padding: 2px 6px;
    }

    .cus-input {
        min-height: 36px;
        font-size: 16px;
    }

    .cus-radio {
        font-size: 14px;
    }

    .cus-checkbox {
        font-size: 14px;
    }
    /*Contact Us*/
}

@media (min-width: 768px) {
    .mxw-container { max-width: 720px; margin: 0 auto;}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .f-md-8 {
        font-size: 8px !important;
    }
    .f-md-10 {
        font-size: 10px !important;
    }
    .f-md-12 {
        font-size: 12px !important;
    }
    .f-md-14 {
        font-size: 14px !important;
    }
    .f-md-16 {
        font-size: 16px !important;
    }
    .f-md-18 {
        font-size: 18px !important;
    }
    .f-md-20 {
        font-size: 20px !important;
    }
    .f-md-22 {
        font-size: 22px !important;
    }
    .f-md-24 {
        font-size: 24px !important;
    }
    .f-md-26 {
        font-size: 26px !important;
    }
    .f-md-28 {
        font-size: 28px !important;
    }
    .f-md-30 {
        font-size: 30px !important;
    }
    .f-md-32 {
        font-size: 32px !important;
    }
    .f-md-34 {
        font-size: 34px !important;
    }
    .f-md-36 {
        font-size: 36px !important;
    }

    .mt-sm-40px { margin-top: 40px !important;}

    /*Header*/
    .header {
        position: relative;
        top: unset;
        width: 100%;
        z-index: 1000;
        padding: 0;
        background: transparent radial-gradient(closest-side at 50% 50%, #394955 0%, #121212 100%) 0% 0% no-repeat padding-box !important;
    }

    .header .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    header .navbar .navbar-toggler {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        padding: 0 !important;
        border: 1px solid var(--white-color);
    }

    .header .navbar .navbar-toggler svg {
        fill: var(--white-color);
        width: 15px;
        height: 15px;
    }

    .header .navbar .logo {
        height: 30px;
    }

    .navbar .navbar-nav .nav-link {
        color: var(--white-color) !important;
    }
    /*Header*/

    /*Home*/
    .main-top {
        height: auto;
    }

    .main-top .main-top-video {
        position: relative;
    }

    .home-section {
        padding: 40px 0 40px 0;
    }

    .section-header h1 {
        font-size: 40px;
    }

    .section-header h1 span {
        top: 12px;
        font-size: 20px;
    }

    .news-card {
        padding: 0 15px;
    }

    .news-card .news-card-inner {
        padding: 50px 15px;
    }

    .news-card .news-card-inner .news-card-text {
        font-size: 14px;
    }

    .news-card .news-card-inner .news-card-text {
        /*line-height: 20px;*/
    }

    .ojj-rescue-card .ojj-rescue-card-inner {
        padding: 30px 15px;
    }

    .ojj-rescue-card .ojj-rescue-card-title {
        font-size: 22px;
    }

    .ojj-rescue-card .ojj-rescue-card-text {
        font-size: 14px;
    }

    .scroll-indicators {
        bottom: 38px;
    }

    .scroll-indicators .scroll-indicate-triangle svg {
        width: 20px;
        height: 20px;
    }

    .scroll-indicators .scroll-indicate-arrow svg {
        width: 20px;
        height: auto;
    }

    /*Product Information*/
    .product-information .section-header {
        padding: 0 15px;
    }

    .product-info-content .product-info-content-inner {
        padding: 50px 15px;
    }

    .product-info-content .product-info-content-inner .product-info-content-text {
        font-size: 28px;
    }

    .product-info-content .product-info-content-inner .product-info-content-text-japan {
        font-size: 14px;
    }

    .white-btn, .black-btn {
        min-width: 140px;
        height: auto;
        font-size: 14px;
        padding: 6px 12px;
    }

    .yellow-btn {
        font-size: 14px;
    }

    .product-info-content .product-info-content-inner::after {
        width: 28%;
    }

    .product-list-slider .slick-prev:before, .product-list-slider .slick-next:before {
        color: var(--black-color);
    }

    /*Product Information*/

    .maintenance .maintenance-content {
        padding-left: 15px;
        padding-bottom: 40px;
    }

    .maintenance-content .maintenance-content-inner .maintenance-content-text {
        font-size: 28px;
    }

    .maintenance-content .maintenance-content-inner .maintenance-content-text-japan, .maintenance-content .maintenance-content-inner .maintenance-japan-text {
        font-size: 20px;
    }

    .product-information {
        padding: 50px 0;
    }

    .maintenance .maintenance-content::after {
        width: 85%;
    }

    .sns .sns-content .sns-header-text {
        font-size: 28px;
    }
    /*Home*/

    /*Popup Video*/
    .popup-video-content {
        height: calc(100vh - calc(100vh - 100%));
        min-height: -webkit-fill-available;
    }
    /*Popup Video*/

    /*Footer*/
    .footer {
        padding: 80px 15px 50px 15px;
    }

    .footer .footer-logo img {
        width: 80%;
        height: auto;
    }

    .footer .footer-link-list li a {
        font-size: 14px;
    }
    /*Footer*/

    /*Rescue Boat*/
    .durability-test-text-content.content-1 {
        padding-left: 15px;
    }

    .durability-test-text-content.content-2 {
        padding-right: 15px;
    }

    .ojj-rescue-video-content .ojj-rescue-video-content-box {
        width: 70%;
        height: 300px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .ojj-rescue-video-content {
        padding: 0 15px !important;
    }

    .ojj-rescue-video-play-button svg {
        width: 32px;
        height: 32px;
    }

    .ojj-rescue-video-play-button {
        bottom: 10px;
        left: 10px;
    }

    .ojj-rescue-video-content-text {
        width: 80% !important;
        margin-left: 11%;
        padding: 40px 0 0 20px !important;
    }

    .f-18 {
        font-size: 14px;
    }

    .f-24 {
        font-size: 16px;
    }

    .f-32 {
        font-size: 18px;
    }

    .f-40 {
        font-size: 24px;
    }

    .f-76 {
        font-size: 36px;
    }

    .px-0-section {
        padding: 50px 0;
    }

    .px-section-header {
        padding: 0 15px;
    }

    .rescue-boat-content, .boat-point-wide-img-content, .boat-point-double-side-bg-gradient {
        padding: 80px 15px;
    }

    .boat-point-double-side-bg-gradient .fade-count {
        top: -70px;
        left: -6px;
        font-size: 100px;
    }

    .durability-test-text-content .durability-test-text, .durability-test-content-img-box-content {
        padding: 0;
    }

    .durability-test-content-table {
        padding: 0 15px;
    }

    .scroll-top-btn {
        right: 25px;
        width: 36px;
        height: 36px;
    }

    .scroll-top-btn svg {
        width: 20px;
        height: 20px;
    }
    /*Rescue Boat*/

    /*News*/
    .f-14 {
        font-size: 14px;
    }

    .f-36 {
        font-size: 26px;
    }

    .custom-pagination .page-link {
        font-size: 14px;
    }
    /*News*/

    /*Product Information*/
    .px-80 {
        padding: 0 15px;
    }

    .f-22 {
        font-size: 20px;
    }

    .product-list-slider .image-container {
        width: 135px !important;
    }

    .product-info-table.table-bordered td, .table-bordered th {
        min-width: 175px;
    }

    .cus-white-btn {
        font-size: 16px;
    }
    /*Product Information*/

    /*Maintenance*/
    .maintenance-banner {
        height: auto;
    }

    .q-n-a-card .q-btn {
        padding-right: 30px;
    }

    .q-n-a-card .q-btn .q-block {
        width: 30px;
        min-width: 30px;
        height: 30px;
        min-height: 30px;
        font-size: 20px;
        margin-right: 10px;
    }

    .q-n-a-card .card-body .a-block {
        width: 30px;
        min-width: 30px;
        height: 30px;
        min-height: 30px;
        font-size: 24px;
        margin-right: 10px;
    }

    .q-n-a-card .q-btn .q-btn-arrow {
        top: 2px;
        right: 0;
        width: 26px;
        min-width: 26px;
        height: 26px;
        min-height: 26px;
    }
    /*Maintenance*/

    /*Overview Organization*/
    .f-28 {
        font-size: 22px;
    }

    .composition-content-text h5.composition-content-text-2nd span {
        height: 13px;
        margin-top: -1px;
    }
    /*Overview Organization*/

    /*Contact Us*/
    .contact-form .col-form-label {
        font-size: 14px;
    }

    .contact-form .col-form-label span {
        padding: 2px 6px;
    }

    .cus-input {
        min-height: 36px;
        font-size: 16px;
    }

    .cus-radio {
        font-size: 14px;
    }

    .cus-checkbox {
        font-size: 14px;
    }
    /*Contact Us*/
}

@media (min-width: 992px) {
    .mxw-container { max-width: 960px; margin: 0 auto;}
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .f-lg-8 {
        font-size: 8px !important;
    }
    .f-lg-10 {
        font-size: 10px !important;
    }
    .f-lg-12 {
        font-size: 12px !important;
    }
    .f-lg-14 {
        font-size: 14px !important;
    }
    .f-lg-16 {
        font-size: 16px !important;
    }
    .f-lg-18 {
        font-size: 18px !important;
    }
    .f-lg-20 {
        font-size: 20px !important;
    }
    .f-lg-22 {
        font-size: 22px !important;
    }
    .f-lg-24 {
        font-size: 24px !important;
    }
    .f-lg-26 {
        font-size: 26px !important;
    }
    .f-lg-28 {
        font-size: 28px !important;
    }
    .f-lg-30 {
        font-size: 30px !important;
    }
    .f-lg-32 {
        font-size: 32px !important;
    }
    .f-lg-34 {
        font-size: 34px !important;
    }
    .f-lg-36 {
        font-size: 36px !important;
    }

    /*Home*/

    .main-top {
        height: auto;
    }

    .main-top .main-top-video {
        position: relative;
    }

    .header .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    .header .navbar .logo {
        height: 32px;
    }

    .navbar .navbar-nav .nav-item {
        margin-right: 20px;
    }

    .home-section {
        padding: 50px 40px;
    }

    .section-header h1 {
        font-size: 60px;
    }

    .section-header h1 span {
        top: 25px;
        font-size: 25px;
    }

    .news-card {
        padding: 0 15px;
    }

    .news-card .news-card-inner .news-card-text {
        font-size: 14px;
    }

    .ojj-rescue-card .ojj-rescue-card-inner {
        padding: 50px 50px;
    }

    .product-information {
        padding: 60px 0;
    }

    .product-info-content .product-info-content-inner .product-info-content-text {
        font-size: 40px;
    }

    .product-info-content .product-info-content-inner::after {
        width: 38%;
    }

    .maintenance-content .maintenance-content-inner .maintenance-content-text {
        font-size: 50px;
    }

    .maintenance-content .maintenance-content-inner .maintenance-content-text-japan, .maintenance-content .maintenance-content-inner .maintenance-japan-text {
        font-size: 30px;
    }

    .maintenance .maintenance-content::after {
        width: 90%;
    }
    /*Home*/

    /*Rescue Boat*/
    .px-0-section {
        padding: 60px 0;
    }

    .px-section-header {
        padding: 0 15px;
    }

    .boat-content {
        padding: 100px 15px;
    }

    .f-40 {
        font-size: 32px;
    }

    .f-18 {
        font-size: 16px;
    }

    .f-32 {
        font-size: 24px;
    }

    .f-76 {
        font-size: 46px;
    }

    .boat-point-wide-img-content {
        padding: 80px 40px;
    }

    .boat-point-double-side-bg-gradient {
        padding: 60px;
    }

    .boat-point-double-side-bg-gradient .fade-count {
        top: -95px;
        left: 0;
        font-size: 120px;
    }

    .durability-test-text-content .durability-test-text, .durability-test-content-img-box-content, .durability-test-content-table {
        padding: 0 40px;
    }

    .ojj-rescue-video-content .ojj-rescue-video-content-box {
        width: 90%;
        margin: 0 auto;
        height: 350px;
    }

    .ojj-rescue-video-play-button {
        bottom: 20px;
        left: 10px;
    }

    .ojj-rescue-video-play-button svg {
        width: 40px;
        height: 40px;
    }
    /*Rescue Boat*/

    /*Product Information*/
    .px-80 {
        padding: 0 40px;
    }

    .product-list-slider .slick-prev {
        left: 8px;
    }

    .product-list-slider .slick-next {
        right: 8px;
    }

    /*Product Information*/

    /*Maintenance*/
    .maintenance-banner {
        height: auto;
    }

    .q-n-a-card .q-btn {
        padding-right: 30px;
    }

    .q-n-a-card .q-btn .q-block {
        width: 30px;
        min-width: 30px;
        height: 30px;
        min-height: 30px;
        font-size: 20px;
        margin-right: 10px;
    }

    .q-n-a-card .card-body .a-block {
        width: 30px;
        min-width: 30px;
        height: 30px;
        min-height: 30px;
        font-size: 24px;
        margin-right: 10px;
    }

    .q-n-a-card .q-btn .q-btn-arrow {
        top: 2px;
        right: 0;
        width: 26px;
        min-width: 26px;
        height: 26px;
        min-height: 26px;
    }
    /*Maintenance*/

    /*Overview Organization*/
    .f-28 {
        font-size: 22px;
    }

    .composition-content-text h5.composition-content-text-2nd span {
        height: 15px;
        margin-top: -2px;
    }
    /*Overview Organization*/
}
@media (min-width: 1200px) and (max-width: 1365px) {
    /*Home*/
    .header .navbar {
        padding-left: 40px;
        padding-right: 40px;
    }

    .header .navbar .logo {
        height: 32px;
    }

    .navbar .navbar-nav .nav-item {
        margin-right: 20px;
    }

    .home-section {
        padding: 50px 40px;
    }

    .section-header h1 {
        font-size: 60px;
    }

    .section-header h1 span {
        top: 25px;
        font-size: 25px;
    }

    .news-card {
        padding: 0 15px;
    }

    .news-card .news-card-inner .news-card-text {
        font-size: 16px;
        line-height: 28px;
    }

    .ojj-rescue-card .ojj-rescue-card-inner {
        padding: 50px 50px;
    }

    .product-information {
        padding: 60px 0;
    }

    .product-info-content .product-info-content-inner .product-info-content-text {
        font-size: 40px;
    }

    .product-info-content .product-info-content-inner::after {
        width: 38%;
    }

    .maintenance-content .maintenance-content-inner .maintenance-content-text {
        font-size: 50px;
    }

    .maintenance-content .maintenance-content-inner .maintenance-content-text-japan, .maintenance-content .maintenance-content-inner .maintenance-japan-text {
        font-size: 30px;
    }

    .maintenance .maintenance-content::after {
        width: 85%;
    }
    /*Home*/

    /*Rescue Boat*/
    .px-0-section {
        padding: 60px 0;
    }

    .px-section-header {
        padding: 0 40px;
    }

    .boat-content {
        padding: 100px 15px;
    }

    .f-40 {
        font-size: 32px;
    }

    .f-18 {
        font-size: 16px;
    }

    .f-32 {
        font-size: 24px;
    }

    .f-76 {
        font-size: 46px;
    }

    .boat-point-wide-img-content {
        padding: 80px 40px;
    }

    .boat-point-double-side-bg-gradient {
        padding: 60px;
    }

    .boat-point-double-side-bg-gradient .fade-count {
        top: -95px;
        left: 0;
        font-size: 120px;
    }

    .durability-test-text-content .durability-test-text, .durability-test-content-img-box-content, .durability-test-content-table {
        padding: 0 40px;
    }

    .ojj-rescue-video-content .ojj-rescue-video-content-box {
        width: 90%;
        margin: 0 auto;
        height: 350px;
    }

    .ojj-rescue-video-play-button {
        bottom: 20px;
        left: 10px;
    }

    .ojj-rescue-video-play-button svg {
        width: 40px;
        height: 40px;
    }
    /*Rescue Boat*/

    /*Product Information*/
    .px-80 {
        padding: 0 40px;
    }

    .product-list-slider .slick-prev {
        left: 8px;
    }

    .product-list-slider .slick-next {
        right: 8px;
    }
    /*Product Information*/

    /*Overview Organization*/
    .composition-content-text h5.composition-content-text-2nd span {
        height: 15px;
        margin-top: -2px;
    }
    /*Overview Organization*/
}
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {

}
@media (min-width: 1366px) and (max-width: 1399px) {
    /*Home*/
    .header .navbar .logo {
        height: 32px;
    }

    .navbar .navbar-nav .nav-item {
        margin-right: 20px;
    }

    .section-header h1 {
        font-size: 60px;
    }

    .section-header h1 span {
        top: 25px;
        font-size: 25px;
    }

    .news-card {
        padding: 0 15px;
    }

    .news-card .news-card-inner .news-card-text {
        font-size: 16px;
        line-height: 28px;
    }

    .ojj-rescue-card .ojj-rescue-card-inner {
        padding: 50px 50px;
    }

    .product-information {
        padding: 60px 0;
    }

    .product-info-content .product-info-content-inner .product-info-content-text {
        font-size: 40px;
    }

    .product-info-content .product-info-content-inner::after {
        width: 28%;
    }

    /*Maintenance*/
    .maintenance .maintenance-img {
        width: 65%;
    }
    /*Maintenance*/

    .maintenance-content .maintenance-content-inner .maintenance-content-text {
        font-size: 50px;
    }

    .maintenance-content .maintenance-content-inner .maintenance-content-text-japan, .maintenance-content .maintenance-content-inner .maintenance-japan-text {
        font-size: 30px;
    }

    .maintenance .maintenance-content::after {
        width: 90%;
    }
    /*Home*/

    /*Rescue Boat*/

    .boat-content {
        padding: 100px 15px;
    }

    .f-40 {
        font-size: 32px;
    }

    .f-18 {
        font-size: 16px;
    }

    .f-32 {
        font-size: 24px;
    }

    .f-76 {
        font-size: 46px;
    }

    .boat-point-double-side-bg-gradient {
        padding: 60px;
    }

    .boat-point-double-side-bg-gradient .fade-count {
        top: -95px;
        left: 0;
        font-size: 120px;
    }

    .ojj-rescue-video-content .ojj-rescue-video-content-box {
        width: 90%;
        margin: 0 auto;
        height: 350px;
    }

    .ojj-rescue-video-play-button {
        bottom: 20px;
        left: 10px;
    }

    .ojj-rescue-video-play-button svg {
        width: 40px;
        height: 40px;
    }
    /*Rescue Boat*/
}
@media only screen and (min-width: 1400px) and (max-width: 1919px) {
    /*Maintenance*/
    .maintenance .maintenance-img {
        width: 60%;
    }
    /*Maintenance*/
}

@media only screen and (min-width: 1200px) and (max-width: 1920px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
    }

    .mxw-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .px-section-header {
        padding: 0 15px;
    }

    .header .navbar {
        padding-left: 0;
        padding-right: 0;
    }


    .double-left-padding {
        padding: 120px 185px 120px 100px;
    }

    .double-right-padding {
        padding: 120px 100px 120px 86px;
    }
    /*.px-80 {*/
    /*    padding: 0 15px;*/
    /*}*/
}

@media only screen and (min-width: 1920px) and (max-width: 2499.5px) {
    /*Maintenance*/
    .maintenance .maintenance-img {
        width: 60%;
    }
    /*Maintenance*/
}

@media only screen and (min-width: 1921px) and (max-width: 2399.5px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1600px;
    }

    .mxw-container {
        max-width: 1600px;
        margin: 0 auto;
    }

    .px-section-header {
        padding: 0 15px;
    }

    .header .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    /*.px-80 {*/
    /*    padding: 0 15px;*/
    /*}*/
}

@media (min-width: 2400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1800px;
    }

    .mxw-container {
        max-width: 1800px;
        margin: 0 auto;
    }

    .px-section-header {
        padding: 0 15px;
    }

    .header .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    /*.px-80 {*/
    /*    padding: 0 15px;*/
    /*}*/
}

@media (min-width: 2500px) {
    /*Home*/
    .header .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 24px;
    }

    .header .navbar .logo {
        width: auto;
        height: 60px;
    }

    .home-section {
        padding: 140px 15px;
    }

    .section-header h1 {
        font-size: 120px;
    }

    .section-header h1 span {
        top: 46px;
        font-size: 50px;
    }

    .news-card .news-card-inner {
        padding: 100px 60px;
    }

    .news-card .news-card-inner .news-card-text {
        min-height: 160px;
        max-height: 160px;
        font-size: 24px;
        line-height: 38px;
    }

    .yellow-btn {
        font-size: 20px;
        padding: 6px 14px;
    }

    .f-14 {
        font-size: 24px;
    }

    .black-btn, .white-btn {
        min-width: 240px;
        height: 60px;
        font-size: 28px;
        padding: 8px 14px;
    }

    .ojj-rescue-card .ojj-rescue-card-title {
        font-size: 60px;
    }

    .ojj-rescue-card .ojj-rescue-card-text {
        font-size: 26px;
    }

    .product-info-content .product-info-content-inner .product-info-content-text {
        font-size: 70px;
    }

    .product-info-content .product-info-content-inner .product-info-content-text-japan {
        font-size: 50px;
    }

    .product-info-content .product-info-content-inner::after {
        width: 36%;
    }

    /*Maintenance*/
    .maintenance .maintenance-img {
        width: 61%;
    }
    /*Maintenance*/

    .maintenance-content .maintenance-content-inner .maintenance-content-text {
        font-size: 70px;
    }

    .maintenance-content .maintenance-content-inner .maintenance-content-text-japan, .maintenance-content .maintenance-content-inner .maintenance-japan-text {
        font-size: 50px;
    }

    .maintenance .maintenance-content {
        height: 65vh;
        padding-left: 15px;
        padding-bottom: 15px;
    }

    .maintenance .maintenance-content::after {
        width: 90%;
    }

    .sns .sns-content .sns-header-text {
        font-size: 60px;
    }
    /*Home*/

    /*Footer*/
    .footer .footer-logo img {
        height: 80px;
    }

    .footer .footer-text-content h6 {
        font-size: 24px;
        line-height: 26px;
    }

    .footer .footer-link-list li a {
        font-size: 24px;
    }

    .footer .footer-link-list li {
        margin-bottom: 20px;
    }

    .footer .copyright-text {
        font-size: 20px;
    }
    /*Footer*/

    /*Rescue Boat*/
    .px-0-section {
        padding: 140px 0;
    }

    .px-section-header {
        padding: 0 15px;
    }

    .f-40 {
        font-size: 50px;
    }

    .f-18 {
        font-size: 24px;
    }

    .f-24 {
        font-size: 34px;
    }

    .f-32 {
        font-size: 42px;
    }

    .f-76 {
        font-size: 86px;
    }

    .lh-43 {
        line-height: 53px;
    }

    .boat-point-wide-img-content {
        padding: 160px 140px;
    }

    .boat-point-double-side-bg-gradient {
        padding: 140px;
    }

    .boat-point-double-side-bg-gradient .fade-count {
        top: -160px;
        left: 100px;
        font-size: 200px;
    }

    .durability-test-text-content .durability-test-text, .durability-test-content-img-box-content, .durability-test-content-table {
        padding: 0 140px;
    }

    .ojj-rescue-video-content .ojj-rescue-video-content-box {
        height: 600px;
    }
    /*Rescue Boat*/

    /*News*/
    .f-14 {
        font-size: 24px;
    }

    .f-36 {
        font-size: 46px;
    }

    .custom-pagination .page-link {
        font-size: 24px;
    }
    /*News*/

    /*Product Information*/
    .f-22 {
        font-size: 26px;
    }

    .px-80 {
        padding: 0 140px;
    }

    .product-info-table.table-bordered td, .table-bordered th {
        font-size: 26px;
    }

    .cus-white-btn {
        font-size: 24px;
    }
    /*Product Information*/

    /*Maintenance*/
    .q-n-a-card .card-body .a-block {
        width: 36px;
        height: 36px;
        font-size: 28px;
        margin-right: 15px;
    }

    .maintenance-card {
        min-height: 520px;
    }
    /*Maintenance*/

    /*Overview Organization*/
    .f-28 {
        font-size: 32px;
    }
    /*Overview Organization*/

    /*Contact Us*/
    .contact-form .col-form-label {
        font-size: 24px;
    }

    .contact-form .col-form-label span {
        font-size: 14px;
    }

    .cus-radio {
        font-size: 22px;
    }

    .cus-checkbox {
        font-size: 22px;
    }
    /*Contact Us*/
}
